<div class="container-fluid">
  <div class="search-container">
    <div class="select-filter">
      <label for="city" class="city-label">Select City : </label>
      <select  (change)="selectCity($event)"  id="pet-select">
        <option value="">--Please Select city--</option>
        <option *ngFor="let city of getAllCity.cities" [value]="city">{{city}}</option>
      </select>
    </div>
    <form>
      <div class="search-field">
        <input type="text"  matInput (keyup)="applyFilter($event)" placeholder="Search paintings or painter...">
        <button type="submit">Search</button>
      </div>
    </form>
  </div>
  <div class="main-items-container animate__animated animate__fadeInUp  infinite animate__delay-10s">
    <div class="row m-4 mb-5 main-paintings">
      <ng-container *ngIf="allData && allData.length">
        <div class="paintings col-md-3 col-sm-6 p-4 m-2" *ngFor="let data of allData">
          <div class="hdng-button ">
            <h3 class="text-cap">{{data.name}}</h3>
            <ng-container *ngIf="auth.getUserData()?.role != 'ARTIST'">
              <!-- <button (click)="addToCart(data)" [disabled]="data && data.isLiked == true ? true : false "
                class="heart-button" mat-raised-button aria-label="Example icon button with a heart icon">
                <mat-icon [ngClass]="{'favourite': !data.isLiked, 'favourite text-danger': data.isLiked}"
                  class="favourite-icon">favorite</mat-icon>
              </button> -->
            </ng-container>
          </div>
          <img [src]="data.image">
          <p class="painting-detail">Set of three paintings</p>
          <h3 class="product-rate">₹{{data.price}}</h3>
          <ng-container *ngIf="auth.getUserData()?.role != 'ARTIST'">
            <div class="buy-cart-btn">
              <div class="add-to-cart">
                <button (click)="addToCart(data)"  [disabled]="data && data.isLiked == true ? true : false " type="button" class="add-to-cart">Add to cart</button>
              </div>
              <!-- <div class="buy-btn" *ngIf="auth.getUserData()?.role != 'ARTIST'">
                <a (click)="buyNow(data)" href="javascript:void(0)">Buy Now</a>
              </div> -->
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="allData && !allData.length">
        <div class="no_data">
          <h4>Data not found!</h4>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div>
  <p>
    <br>
  </p>
</div>