<div class="container">
  <h2 class="text-center p-4 animate__animated animate__fadeInDown">Pre-Order List</h2>

  <mat-form-field class="col-md-4  animate__animated animate__bounceInUp">
    <mat-label>Search Orders</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search Paintings" #input>
  </mat-form-field>
</div>

<div class="table-dv  animate__animated animate__bounceInUp pb-5">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" #empTbSort="matSort" matSort>
    <ng-container matColumnDef="srNo">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Sr. No.</th>
      <td *matCellDef="let element" mat-cell> {{element.serialNumber}}</td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Created At </th>
      <td *matCellDef="let element" mat-cell> {{element.createdAt | date: 'MMM, y, d'}}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Description</th>
      <td *matCellDef="let element" mat-cell> {{element.description}}</td>
    </ng-container>
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Image </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <ng-container *ngIf="element.image">
          <img [src]="element.image" />
        </ng-container>
        <ng-container *ngIf="!element.image"> - </ng-container>
      </td>
    </ng-container>
    <ng-container matColumnDef="updatedAt">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> Updated At</th>
      <td *matCellDef="let element" mat-cell> {{element.updatedAt | date: 'MMM, y, d'}}</td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef style="width: 200px;"> Actions </th>
      <td mat-cell *matCellDef="let element" style="white-space: nowrap;">
        <button type="button" (click)="orderView(element)" class="approve-btn">View</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div>
  <p><br></p>
  <p><br></p>
  <p><br></p>
</div>