button.btn.logout-button {
    color: #ffffff !important;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
    height: 50px;
 }
 .footer p {
    margin-top: 13px;
}
.cart-button{
    color: #ffffff;
}
.cart-button {
    position: relative;
}

span.counting_cart_items {
    position: absolute;
    left: 24%;
    top: -10%;
}

// painter button css begin 
li.nav-item.painter-btn a {
    color: #000000 !important;
    background: #ffffff;
    cursor: pointer;
}
li.nav-item.painter-btn a:hover {
    color: #ffffff !important;
    background: #000000;
}
li.nav-item {
    cursor: pointer;
}
// painter button css end
.active{
    color: #ffffff;
    background: #000000;
    font-weight: 500;
}
span.cart-hdng {
    padding-left: 12px;
}
.navbar-expand-sm .navbar-nav {
    gap: 50px;
}
nav ul li a:after{
    content: '';
    background: #ffffff;
    width: 0%;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0%;
    transition: all ease-in-out 400ms;
}
nav ul li a:hover::after {
    width: 100%;
}
nav ul li a, .nav form button {
    position: relative;
}
ul.navbar-nav.me-auto {
    margin-left: 9%;
}
.login-name {
    color: #ffffff;
    display: flex;
    align-items: end;
    margin-right: 29px;
    font-weight: 500;
    margin-top: 10px;
}
@media screen and (max-width:832px){
    ul.navbar-nav.me-auto {
        margin-left: 4%;
    }
}
@media screen and (max-width:796px){
    .navbar-expand-sm .navbar-nav {
        gap: 20px;
    } 
}
@media screen and (max-width:734px){
    .navbar-expand-sm .navbar-nav {
        gap: 10px;
    } 
    ul.navbar-nav.me-auto {
        margin-left: 1%;
    }
    li{
        font-size: 11px;
    }
    .login-name p{
        font-size: 11px;
    }
    button{
        font-size: 11px;
    }
}
@media screen and (max-width:630px){
    .navbar-expand-sm .navbar-nav {
        gap: 10px;
    } 
    li{
        font-size: 8px;
    }
    .login-name p{
        font-size: 8px;
    }
    button{
        font-size: 8px;
    }
    button.btn.logout-button {
        margin-top: 2px;
    }
}
@media screen and (max-width:605px){
    .navbar-expand-sm .navbar-nav {
        gap: 5px;
    } 
}
@media screen and (max-width:585px){
    .navbar-expand-sm .navbar-nav {
        gap: 5px;
    } 
}
@media screen and (max-width:575px){
    form{
        margin-top: 10px;
    }
    .navbar-expand-sm .navbar-nav{
        gap: 0;
    }
    li{
        font-size: 15px;
    }
    .login-name p{
        font-size: 15px;
    }
    button{
        font-size: 15px;
    }
    button.btn.logout-button {
        margin-top: 0px;
    }
}