<!-- Mobile screen Navbar -->

<header class="header small-navbar">
    <nav class="mobile-header">
        <div class="container layout-center">
            <div class="top-header d-flex justify-content-between py-20">
                <div class="logo px-16">
                    <a href="javascript:void(0)" (click)="navigateTo('/dashboard', '0')">
                        <img src="./assets/images/new.png"  alt="Main Logo" height="50" width="150" >
                    </a>
                </div>
                <div class="d-flex justify-content-between px-16 pb-2 pt-2">
                    <div class="search-icon pt-3">
                        <span class="material-icons-outlined" (click)="serachData(true)">
                            <i class="bi bi-search"></i>
                        </span>
                    </div>
                    <div class="user-icon user-sign-signup px-16" *ngIf="!auth.isAuthenticated()">
                        <span class="user-profile-icon">
                            <span class="material-icons ma-noti-icon">
                                <i class="bi bi-person-fill"></i>
                            </span>
                        </span>
                        <div class="user-login-menu-section">
                            <ul class="user-sub-menu-list">
                                <li class="user-login-sub-menu-list-item">
                                    <a [routerLink]="['/auth/login']" class="current-link my-profile-link">Log In
                                    </a>
                                </li>
                                <li class="user-login-sub-menu-list-item">
                                    <a href="javascript:vid(0)" [routerLink]="['/auth/sign-in']" class="current-link wishlist-link">
                                        <span class="signup-text">Sign Up</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="after-login d-flex after-mobile"  *ngIf="auth.isAuthenticated()">
                        <button class="cart btn-cart" *ngIf="auth.getUserData().role !== 'ARTIST'"  (click)="navigateTo('/page/add-to-cart', '12')">
                            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor"
                            class="bi bi-cart2" viewBox="0 0 16 16">
                            <path
                                d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                            </svg>
                        </button>
                        <div class="user-symbol">
                            <span class="f-18 fw-700">A</span>
                            <ul class="profile-list">
                                <li (click)="navigateTo('/page/profile', '13')">
                                    <a href="javascript:void(0)" [class.active]="fun.navValue === '13'">My Profile</a>
                                </li>
                                <li (click)="navigateTo('/page/change-password', '14')">
                                    <a href="javascript:void(0)" [class.active]="fun.navValue === '14'">Change Password</a>
                                </li>
                                <li (click)="navigateTo('/page/order-status', '15')" *ngIf="auth.getUserData().role !== 'ARTIST'">
                                    <a href="javascript:void(0)" [class.active]="fun.navValue === '15'">My Orders</a>
                                </li>
                                <li (click)="userLogout()">
                                    <a href="javascript:void(0)">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav pl-16 header-nav-menu">
                <ul class="d-flex main-menu noscrollbar">
                    <li>
                        <a href="javascript:void(0)" [class.active]="fun.navValue === '1'" (click)="navigateTo('/product-list', '1')">Painting</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" [class.active]="fun.navValue === '2'" (click)="navigateTo('6592522ee68ffdd98a8d6716', '2')">Graffiti</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" [class.active]="fun.navValue === '3'" (click)="navigateTo('658bd173e68ffdd98a8d6458', '3')">Photography</a>
                    </li> 
                    <li>
                        <a href="javascript:void(0)"  [class.active]="fun.navValue === '4'" (click)="navigateTo('658bd143e68ffdd98a8d6453', '4')">Sculpture</a>
                    </li> 
                    <li>
                        <a href="javascript:void(0)" [class.active]="fun.navValue === '5'" (click)="navigateTo('/projects', '5')">Projects</a>
                    </li> 
                    <li *ngIf="auth.isAuthenticated() && auth.getUserData().role != 'USER'">
                        <a href="javascript:void(0)" [class.active]="fun.navValue === '6'" (click)="navigateTo('/page/upload-paint', '6')">Upload Painting</a>
                    </li>
                    <li *ngIf="auth.isAuthenticated() && auth.getUserData().role != 'USER'">
                        <a href="javascript:void(0)" [class.active]="fun.navValue === '7'" (click)="navigateTo('/page/artist-order-list', '7')">Artist Order List</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" [class.active]="fun.navValue === '8'" (click)="navigateTo('/page/requirment-paint', '8')">Advisory</a>
                    </li> 
                    <li class="">
                        <a [class.active]="fun.navValue === '9'" (click)="navigateTo('/auth/sign-in', '9')" href="javascript:void(0)">Join As Artist</a>
                    </li>
                    <!-- <li>
                        <a href="javascript:void(0)">Blog And Video</a>
                    </li> 
                    <li>
                        <a href="javascript:void(0)">Artist</a>
                    </li> 
                    <li>
                        <a href="javascript:void(0)">Gallery</a>
                    </li> 
                    <li>
                        <a href="javascript:void(0)">Print Service</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
</header>


<!-- large screen navbar -->

<header class="header-container large-navbar">
    <div class="smallnav-bg">
        <div class="smalnav-wrap pl-20">
            <nav class="nav-topmenu">
                <ul class="mb-0 pl-0 d-flex">
                    <li class="ml-40 what-icon-soc">
                        <i class="fab fa-whatsapp icon-whatsapp mr-10"></i>
                        <span class="fw-500 fs-13">
                            <a href="https://web.whatsapp.com/send?phone=+918544884846" target="_blank"
                            rel="noopener" data-url="https://web.whatsapp.com/send?phone=+918544884846">Customer Support </a></span>
                    </li>
                    <li class="ml-40 tootipInfo">
                        <a href="javascript:void(0)">
                            <span class="info-icon mr-10">
                                <i class="bi bi-info-circle"></i>
                            </span>
                            <span class="worlwide">
                                Shipping Worldwide
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="main-nav pl-20">
        <div class="logo">
            <img src="./assets/images/new.png" (click)="navigateTo('/dashboard', '0')" height="50px" width="150" alt="Paintika logo" class="img-responsive main-logo">
        </div>
        <nav class="nav-canvas" height="64" width="1000">
            <ul class="main-navigation-list undefined- pl-0" id="navList">
                <li>
                    <a href="javascript:void(0)" [class.active]="fun.navValue === '1'" (click)="navigateTo('/product-list', '1')" class="main-nav-lnk">Paintings</a>
                </li>
                <li>
                    <a href="javascript:void(0)" [class.active]="fun.navValue === '2'" (click)="navigateTo('6592522ee68ffdd98a8d6716', '2')" class="main-nav-lnk">Graffiti</a>
                </li>
                <li>
                    <a href="javascript:void(0)" [class.active]="fun.navValue === '3'" (click)="navigateTo('658bd173e68ffdd98a8d6458', '3')" class="main-nav-lnk">Photography</a>
                </li>
                <li>
                    <a href="javascript:void(0)" [class.active]="fun.navValue === '4'" (click)="navigateTo('658bd143e68ffdd98a8d6453', '4')" class="main-nav-lnk">Sculpture</a>
                </li>
                <li>
                    <a href="javascript:void(0)" [class.active]="fun.navValue === '5'" (click)="navigateTo('/projects', '5')" class="main-nav-lnk">Projects</a>
                </li>
                <li  *ngIf="auth.isAuthenticated() && auth.getUserData().role != 'USER'">
                    <a href="javascript:void(0)" [class.active]="fun.navValue === '6'" (click)="navigateTo('/page/upload-paint', '6')" class="main-nav-lnk">Upload Painting</a>
                </li>
                <li *ngIf="auth.isAuthenticated() && auth.getUserData().role != 'USER'">
                    <a href="javascript:void(0)" [class.active]="fun.navValue === '7'" (click)="navigateTo('/page/artist-order-list', '7')" class="main-nav-lnk">Artist Order List</a>
                </li>
                <li *ngIf="auth.getUserData()?.role !== 'ARTIST'">
                    <div class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">More
                            <span class="material-icons-outlined">
                                <i class="bi bi-chevron-down"></i>
                            </span>
                        </a>
                        <ul class="dropdown-content pl-0">
                            <li class="">
                                <a [class.active]="fun.navValue === '8'" (click)="navigateTo('/page/requirment-paint', '8')" href="javascript:void(0)">Advisory</a>
                            </li>
                            <li class="">
                                <a [class.active]="fun.navValue === '9'" (click)="navigateTo('/auth/sign-in', '9')" href="javascript:void(0)">Join As Artist</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- <div class="mr-14 ml-30 search-icon">
            <span (click)="serachData(true)" class="material-icons-outlined">
                <i class="bi bi-search"></i>
            </span>
        </div> -->
        <div class="header-notif" *ngIf="!auth.isAuthenticated()">
            <button class="login btn-login" [class.active]="fun.navValue === '10'" (click)="navigateTo('/auth/login', '10')">LogIn</button>
        </div>
        <div class="header-notif" *ngIf="!auth.isAuthenticated()">
            <button class="login btn-login"  [class.active]="fun.navValue === '11'" (click)="navigateTo('/auth/sign-in', '11')">SignUp</button>
        </div>
        <div class="after-login d-flex" *ngIf="auth.isAuthenticated()">
            <button class="cart btn-cart" *ngIf="auth.getUserData().role !== 'ARTIST'"  (click)="navigateTo('/page/add-to-cart', '12')">
                <!-- {{fun.cartCount}} -->
                <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor"
                class="bi bi-cart2" viewBox="0 0 16 16">
                <path
                    d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                </svg>
               
            </button>
            <div class="user-symbol">
                <span class="f-18 fw-700 text-uppercase">{{ auth.getUserData()?.name?.charAt(0) }}</span>
                <ul class="profile-list">
                    <li (click)="navigateTo('/page/profile', '13')">
                        <a href="javascript:void(0)" [class.active]="fun.navValue === '13'">My Profile</a>
                    </li>
                    <li (click)="navigateTo('/page/change-password', '14')">
                        <a [class.active]="fun.navValue === '14'" href="javascript:void(0)">Change Password</a>
                    </li>
                    <li (click)="navigateTo('/page/order-status', '15')" *ngIf="auth.getUserData().role !== 'ARTIST'" >
                        <a [class.active]="fun.navValue === '15'" href="javascript:void(0)">My Orders</a>
                    </li>
                    <li (click)="userLogout()">
                        <a href="javascript:void(0)">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!-- <div class="header-search">
    <div role="search" id="header_search" class="flex-content">
        <div class="search-input flex-inner-content">
            <div class="global-search">
                <div class="global-search-input" *ngIf="fun.searchBol == true">
                    <input autofocus="" type="text" (keyup)="applyFilter($event)" placeholder="Search for Art, Artist" class="global_search_input"> 
                    <span class="material-icons-outlined">
                        <i class="bi bi-search"></i>
                    </span>
                    <span class="search-clear-btn" (click)="closeSearch(false)">
                       <img class="close-icon" src="./assets/images/cross.png">
                    </span>
                </div> 
            </div>
        </div>
    </div>
</div> -->



<!-- <nav class="navbar navbar-expand-sm navbar-dark bg-dark">

    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)" [routerLink]="['/dashboard']">
             <img src="./assets/images/new.png" alt="Logo" >
        </a>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" (click)="navigateTo('/dashboard', '1')"
                        [class.active]="fun.navValue === '1'">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="fun.navValue === '2'" (click)="navigateTo('/about-us', '2')">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class.active]="fun.navValue === '3'" (click)="navigateTo('/contact-us', '3')">Contact Us</a>
                </li>
                <li class="nav-item" *ngIf="auth.isAuthenticated() && auth.getUserData().role != 'USER'">
                    <a class="nav-link" (click)="navigateTo('/page/upload-paint', '4')"
                        [class.active]="fun.navValue === '4'">Upload Painting</a>
                </li>
                
                <li class="nav-item" *ngIf="auth.isAuthenticated() && auth.getUserData().role != 'USER'">
                    <a class="nav-link" (click)="navigateTo('/page/artist-order-list', '5')"
                        [class.active]="fun.navValue === '5'">Artist Order List</a>
                </li>
                <li class="nav-item painter-btn" *ngIf="auth.isAuthenticated() && auth.getUserData().role == 'USER'">
                    <a (click)="navigateTo('/auth/sign-in', '7')" class="nav-link painter">Join As Painter</a>
                </li>
               
            </ul>
            <form class="d-flex">
                    <button type="button" *ngIf="!auth.isAuthenticated()" class="login-btn"
                        (click)="navigateTo('/auth/login', '6')"
                            [class.active]="fun.navValue === '6'">Login
                    </button>
                <div class="cart-button">
                    <button class="btn cart-button" type="button" *ngIf="!auth.isAuthenticated()" (click)="cartLogin()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-cart2" viewBox="0 0 16 16">
                            <path
                                d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                        </svg>
                        <span class="cart-hdng">Cart</span>
                    </button>
                </div>
                <div class="dropdown login-name" *ngIf="auth.getUserData() && auth.getUserData().name">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                        aria-expanded="false" style="color: #ffffff;">
                        Welcome <span style="text-transform: capitalize;">{{auth.getUserData().name}}</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li  *ngIf="auth.isAuthenticated()">
                            <a class="dropdown-item" (click)="navigateTo('/page/profile',  '8')">Profile</a>
                        </li>
                        <li><a class="dropdown-item" *ngIf="auth.getUserData().role != 'ARTIST'"
                                [routerLink]="['/page/order-status']">My Orders</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/page/change-password']">Change Password</a></li>
                        <li *ngIf="auth.isAuthenticated() && auth.getUserData().role == 'USER'" >
                            <a class="dropdown-item" (click)="navigateTo('/page/requirment-paint', '9')">Pre-Order</a>
                        </li>
                    </ul>
                </div>
                <div class="cart-button" *ngIf="auth.isAuthenticated() && auth.getUserData().role != 'ARTIST'">
                    <button class="btn cart-button" type="button" (click)="navigateTo('/page/add-to-cart', '8')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-cart2" viewBox="0 0 16 16">
                            <path
                                d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                        </svg>
                        <span class="cart-hdng">Cart</span>
                    </button>
                    <span class="counting_cart_items">{{fun.cartCount}}</span>
                </div>

                <div class="logout-icon">
                    <ng-container *ngIf="auth.isAuthenticated()">
                        <button (click)="userLogout()" class="btn logout-button" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                <path
                                    d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"
                                    fill="#ffffff" />
                            </svg>
                            Logout
                        </button>
                    </ng-container>
                </div>
            </form>
        </div>
    </div>
</nav> -->