<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
   
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)">
            <img src="./assets/images/logo.png" alt="Logo" height="50" width="60">
        </a>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
               
                <li class="nav-item">
                    <a class="nav-link" (click)="navigateTo('/dashboard', 1)" [class.active]="setEl === 1">Home</a>
                </li>
                <li class="nav-item" *ngIf="auth.isAuthenticated()">
                    <a class="nav-link" (click)="navigateTo('/page/profile',  2)" [class.active]="setEl === 2">Profile</a>
                </li>
                <li class="nav-item" *ngIf="auth.isAuthenticated() && auth.getUserData().role != 'USER'">
                    <a class="nav-link" (click)="navigateTo('/page/upload-paint', 3)" [class.active]="setEl === 3">Upload Painting</a>
                </li>
                <li *ngIf="!auth.isAuthenticated()" class="nav-item">
                    <a class="nav-link" (click)="navigateTo('/auth/login', 4)" [class.active]="setEl === 4">Login</a>
                </li>
                <li *ngIf="auth.isAuthenticated() && auth.getUserData().role == 'USER'" class="nav-item">
                    <a class="nav-link" (click)="navigateTo('/page/requirment-paint', 5)" [class.active]="setEl === 5">Pre-Order</a>
                </li>
                <li  class="nav-item painter-btn" *ngIf="auth.isAuthenticated() && auth.getUserData().role == 'USER'">
                    <a (click)="navigateTo('/auth/sign-in', 6)" class="nav-link painter" >Join As Painter</a>
                </li>
            </ul>
            <form class="d-flex">
                <div class="dropdown login-name" *ngIf="auth.getUserData() && auth.getUserData().name">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="color: #ffffff;">
                        Welcome <span style="text-transform: capitalize;">{{auth.getUserData().name}}</span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" [routerLink]="['/page/order-status']">Order Status</a></li>
                      <li><a class="dropdown-item" href="javascript:void(0)">Change Password</a></li>
                    
                    </ul>
                  </div>
                <!-- <div class="login-name" *ngIf="auth.getUserData() && auth.getUserData().name">
                    <p>Welcome <span style="text-transform: capitalize;">{{auth.getUserData().name}}</span></p>
                </div> -->
                <div class="cart-button" *ngIf="auth.isAuthenticated()">
                    <button class="btn cart-button" type="button" (click)="navigateTo('/page/add-to-cart', 1)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                          </svg>
                        <span class="cart-hdng">Cart</span>
                    </button>
                    <span class="counting_cart_items">{{fun.cartCount}}</span>
                </div>
               
                <div  class="logout-icon" >
                    <ng-container *ngIf="auth.isAuthenticated()">
                        <button (click)="userLogout()" class="btn logout-button" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                                <path
                                    d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"
                                    fill="#ffffff" />
                            </svg>
                            Logout
                        </button>
                    </ng-container>
                </div>
            </form>
        </div>
    </div>
</nav>