body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}
.full-w{
    width: 100%;
}
mat-label.gender-label {
    color: rgba(0, 0, 0, 0.6);
    font-size: 17px;
}
.profile-button {
    background: #000000;
    box-shadow: none;
    border: none
}
h4.text-center.profile-heading {
    font-size: 28px;
    font-weight: 600;
}
span.exprnc-hdng {
    font-size: 26px;
    font-weight: 600;
}
.profile-button:hover {
    background: lightgray
}

.profile-button:focus {
    background: #000000;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 15px
}

.add-experience:hover {
    background: #000000;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
span.gender-label {
    font-size: 15px;
    margin-left: 9px;
    vertical-align: text-top;
}
// .container{
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%,-50%);
//     max-width: 850px;
//     width: 100%;
//     background: #fff;
//     border-radius: 7px;
//     box-shadow: 0 5px 10px rgba(0,0,0,0.3); 
//     padding: 15px;
//     background: #f0f0f0;
//   }

// .profile-pic {
//     text-align: center;
// }
// .profile-pic img{
//     border-radius: 50%;
// }
// input[type=text] {
//     width: 100%;
//     height: 40px;
//     border: 1pt solid #ddd;
// }
// input#birth-date {
//     width: 100%;
//     height: 36px;
//     border: 1pt solid #ddd;
// }
// select#qualification {
//     width: 100%;
//     height: 36px;
//     border: 1pt solid #ddd;
// }
// label{
//     font-size: 18px;
// }
// span.male {
//     font-size: 18px;
//     margin-left: 10px;
// }