<div class="container ">
    <h2 class="text-center">Profile</h2>
        <div class="profile-pic">
            <img src="./assets/images/profile.jpg">
        </div>
        <div class="row justify-content-between">
            <div class="name-age col-md-6 col-sm-12">
                <label for="name" class="">Name:</label><br>
                <input type="text" id="name" name="name">
            </div>
            <div class="gender col-md-6 col-sm-12">
                <label for="Gneder">Gender :</label><br>
                <input type="radio" name="gender" value="male"> <span  class="male">Male</span>
                <input type="radio" name="gender" value="female" style="margin-left: 10px;" class="female"> <span  class="male">Female</span>
            </div>
        </div>
        <div class="row mt-2">
            
            <div class="birth-date col-md-6 col-sm-12">
                <label for="Gneder">Date of birth  :</label><br>
                <input type="date" id="birth-date" name="birthday" >
            </div>
            <div class="qualification col-md-6 col-sm-12">
                <label for="qualification">Qualification :</label><br>
                <select name="study" id="qualification">
                    <option value="volvo">10th</option>
                    <option value="saab">10+2</option>
                    <option value="mercedes">Diploma</option>
                    <option value="audi">Graduation</option>
                  </select>
            </div>
        </div>
        <div class="row mt-3">
            
            <div class="professional col-md-6 col-sm-12">
                <label for="professional" style="margin-bottom: 10px;">Are you professional or freelancer   :</label><br>
                <input type="checkbox" id="professional" name="professional" value="painter">
                <label for="professional" style="margin-left: 10px;">Professional</label>
                <input type="checkbox" id="freelancer" name="freelancer" value="painter" style="margin-left: 10px;">
                <label for="freelancer" style="margin-left: 10px;">Freelancer</label><br>
            </div>
        </div>
        <div class="row justify-content-between mt-3 mb-3">
            <div class="experinece col-md-6 col-sm-12">
                <label for="experience" class="">Experience :</label><br>
                <input type="text" id="experience" name="experience">
            </div>
            <div class="email col-md-6 col-sm-12">
                <label for="email">Email Id :</label><br>
                <input type="text" id="email-id" name="email">
            </div>
        </div>
</div>
