<div class="container">
        <div class="profile-pic">
            <img src="./assets/images/profile.jpg">
        </div>
        <div class="row justify-content-between">
            <div class="name-age col-md-6 col-sm-12">
                <label for="name" class="">Name:</label><br>
                <input type="text" id="name" name="name">
            </div>
            <div class="name-age col-md-6 col-sm-12">
                <label for="age">Age :</label><br>
                <input type="text" id="age" name="age">
            </div>
        </div>
        <div class="row">
            <div class="gender">
                
            </div>
        </div>
</div>