<div class="container rounded bg-white mt-5 mb-3">
    <div class="row ">
        <div class="col-md-4 border-Up">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <div class="image-section">
                    <ng-container *ngIf="selectedFile">
                        <img class="rounded-circle mt-5" width="150px" height="150px" [src]="selectedFile">
                    </ng-container>
                    <ng-container *ngIf="!selectedFile">
                        <img class="rounded-circle mt-5" width="150px" height="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    </ng-container>
                    <div class="camera-img">
                        <input class="img-upload" type="file" (change)="onFileSelect($event)" #hiddenfileinput>
                        <button (click)="hiddenfileinput.click()"  class="waves-effect waves-light btn">
                            <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 512 512">
                                <path d="M149.1 64.8L138.7 96H64C28.7 96 0 124.7 0 160V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V160c0-35.3-28.7-64-64-64H373.3L362.9 64.8C356.4 45.2 338.1 32 317.4 32H194.6c-20.7 0-39 13.2-45.5 32.8zM256 192a96 96 0 1 1 0 192 96 96 0 1 1 0-192z"/>
                            </svg>
                        </button>
                    </div>
                </div>
               
                <span class="font-weight-bold" style="text-transform: capitalize;">{{userData?.name}}</span>
                <span class="text-black-50">{{userData?.email_or_mobile_number}}</span>
                <span></span>
            </div>
        </div>
        <div class="col-md-8 border-Up">
            <form (ngSubmit)="onSubmit()" [formGroup]="profileForm">
                <div class="p-3 py-3 pb-0 ">
                    <div class="text-center mb-4 ">
                        <h4 class="text-center profile-heading ">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width full-w  ">
                                <mat-label >Name</mat-label>
                                <input  pattern="[a-zA-Z][a-zA-Z ]+" matInput formControlName="name" placeholder="First name" value="" style="text-transform: capitalize;">
                                <mat-error *ngIf="profileForm.controls['name'].errors?.['required']">
                                    Name is required.
                                </mat-error>
                                <mat-error *ngIf="profileForm.controls['name'].errors?.['pattern']">
                                   Only alphabets allowed
                                </mat-error>
                               
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="example-full-width full-w ">
                                <mat-label>Surname</mat-label>
                                <input pattern="[a-zA-Z][a-zA-Z ]+" style="text-transform: capitalize;" matInput formControlName="surname" placeholder="Surname" value="">
                            </mat-form-field>
                            <mat-error *ngIf="profileForm.controls['surname'].errors?.['pattern']">
                                Only alphabets allowed
                             </mat-error>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 ">
                            <mat-form-field class="example-full-width full-w ">
                                <mat-label>Date of birth</mat-label>
                                <input matInput  [matDatepicker]="picker" formControlName="dob" placeholder="Enter Date of birth">
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error *ngIf="profileForm.controls['dob'].errors?.['required']">
                                   Date of birth is required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 mt-2 ">
                            <mat-label class="gender-label">Gender</mat-label> <br>
                            <mat-radio-group formControlName="gender" aria-label="Select an option">
                                <mat-radio-button value="1">Male</mat-radio-button>
                                <mat-radio-button value="2">Female</mat-radio-button>
                            </mat-radio-group>
                            <div *ngIf="profileForm.controls['gender'].invalid && (profileForm.controls['gender'].dirty || profileForm.controls['gender'].touched)"
                            class="alert " required>
                                <mat-error *ngIf="profileForm.controls['gender'].errors?.['required']">
                                    Gender is required.
                                </mat-error>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 mt-2 ">
                            <mat-form-field class="example-full-width full-w">
                                <mat-label>Email ID / Phone</mat-label>
                                <input matInput formControlName="email_or_mobile_number" placeholder="Enter email id" readonly>
                                <mat-error *ngIf="profileForm.controls['email_or_mobile_number'].errors?.['required']">
                                    Email/Phone is required.
                                </mat-error>
                                <mat-error *ngIf="profileForm.controls['email_or_mobile_number'].errors?.['pattern']">
                                    Email/Phone format is not valid
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 mt-2">
                            <mat-form-field class="example-full-width full-w ">
                                <mat-label>Qualification</mat-label>
                                <input style="text-transform: capitalize;" matInput formControlName="qualifications" placeholder="Qualification">
                                <mat-error *ngIf="profileForm.controls['qualifications'].errors?.['required']">
                                    Qualification is required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mt-3">                       
                        <div class="col-md-6 mt-2 ">
                            <mat-form-field class="example-full-width full-w">
                                <mat-label>Country</mat-label>
                                <input  style="text-transform: capitalize;" matInput formControlName="country" placeholder="Country">
                                <mat-error *ngIf="profileForm.controls['country'].errors?.['required']">
                                    Country is required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 mt-2">
                            <mat-form-field class="example-full-width full-w">
                                <mat-label>State/Region</mat-label>
                                <mat-select (selectionChange)="changeState($event)" matNativeControl formControlName="state" required>
                                    <mat-option disabled selected value="">Select State</mat-option>
                                    <mat-option *ngFor="let state of stateList" [value]="state">{{state}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="profileForm.controls['state'].errors?.['required']">
                                    State is required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row  p-3">     
                    <div class="col-md-6 mt-2">
                        <mat-form-field class="w-100">
                            <mat-label>Select City</mat-label>
                            <mat-select matNativeControl formControlName="city" required>
                                <mat-option disabled selected value="">Select City</mat-option>
                                <mat-option *ngFor="let city of cityList" [value]="city">{{city}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="profileForm.controls['city'].errors?.['required']">
                                City is required.
                            </mat-error>
                        </mat-form-field>
                    </div>               
                    <div class="professional col-md-6 mt-2 mb-2">
                        <label for="professional" style="margin-bottom: 10px;" class="labels">
                            Are you professional or
                            freelancer :
                        </label>
                        <br>
                        <mat-radio-group aria-label="Select an option" formControlName="professionalOrfreelancer">
                            <mat-radio-button value="1">Professional</mat-radio-button>
                            <mat-radio-button value="2">Freelancer</mat-radio-button>
                          </mat-radio-group> 
                        <br>
                    </div>
                </div>
                <div *ngIf="profileForm && profileForm.value && profileForm.value.professionalOrfreelancer == '1'" class="p-3 py-3 ">
                    <div class="text-center">
                        <span class="exprnc-hdng">Edit Experience</span>
                    </div>
                    <br>
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width full-w">
                            <mat-label>Experience in painting</mat-label>
                            <input matInput formControlName="experience" placeholder="Experience">
                            <!-- <mat-error *ngIf="profileForm.controls['experience'].errors?.['required']">
                                Experience is required.
                            </mat-error> -->
                        </mat-form-field>
                    </div> <br>
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width full-w">
                            <mat-label>Additional Details</mat-label>
                            <input matInput formControlName="additional_detail" placeholder="Additional details">
                            <!-- <mat-error *ngIf="profileForm.controls['additional_detail'].errors?.['required']">
                                Additional Details is required.
                            </mat-error> -->
                        </mat-form-field>
                    </div>
                </div>

                <div class="col-md-12 mt-2 p-3 ">
                    <mat-form-field class="example-full-width full-w">
                        <mat-label>Address</mat-label>
                        <textarea style="text-transform: capitalize;"  matInput formControlName="address" placeholder="Enter address"></textarea>
                        <!-- <mat-error *ngIf="profileForm.controls['address'].errors?.['required']">
                            Address is required.
                        </mat-error> -->
                    </mat-form-field>
                </div>
                <div class="col-md-12 mt-2 p-3 ">
                    <mat-form-field class="example-full-width full-w">
                        <mat-label>Pending Balance</mat-label>
                        <input matInput formControlName="pending_balance"  placeholder="Pending Balance" >
                        <!-- <mat-error *ngIf="profileForm.controls['additional_detail'].errors?.['required']">
                            Additional Details is required.
                        </mat-error> -->
                    </mat-form-field>
            
                </div>
                <div class="mt-2 mb-3 text-center ">
                    <button type="submit" mat-raised-button color="primary" class="btn btn-primary profile-button">
                        Save Profile
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
