<div class="container d-flex">
    <div class="change-pwd w-30"></div>
    <div class="login form w-70">
        <h4 class="">
            Change Password
        </h4>
        <form (ngSubmit)="onSubmit()" [formGroup]="passwordForm">
            <mat-form-field class="example-full-width full-w ">
                <mat-label>Old Password</mat-label>
                <input matInput formControlName="current_password" placeholder="enter old password" type="password">
                <mat-error *ngIf="passwordForm.controls['current_password'].hasError('required')">
                    Old password is required
                </mat-error>
                <mat-error *ngIf="passwordForm.controls['current_password'].hasError('minlength')">
                    Password must be at least 6 characters long.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-w ">
                <mat-label>New Password</mat-label>
                <input matInput formControlName="new_password" placeholder="Enter new password" type="password">
                <mat-error *ngIf="passwordForm.controls['new_password'].errors?.['required']">
                    New Password is required.
                </mat-error>
                <mat-error *ngIf="passwordForm.controls['new_password'].errors?.['passwordLength']">
                    Minimum Length 6 to 20 is required.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-w ">
                <mat-label>Confirm New Password</mat-label>
                <input matInput type="password" formControlName="confirm_password" placeholder="Confirm Password">
                <mat-error *ngIf="passwordForm.controls['confirm_password'].errors?.['required']">
                    Confirm Password is required.
                </mat-error>
                <mat-error *ngIf="passwordForm.controls['confirm_password'].errors?.['passwordLength']">
                    Minimum Length 6 to 20 is required.
                </mat-error>
                <mat-error *ngIf="passwordForm.controls['confirm_password'].errors?.['confirmedValidator']">
                    Passwords did not match
                </mat-error>
            </mat-form-field>
            <div class="btn-main d-flex justify-content-center">
                <button type="submit" mat-raised-button color="primary"
                    class="sign-up-btn mt-2 mb-3 ">Update</button>
            </div>
        </form>
    </div>
</div>
