<div class="container mb-5">
    <div class="pt-60 pb-20 test-sticky d-flex justify-content-between">
        <h1 class="test-hdng">Testimonial</h1>
        <ul class="pl-0 mb-0 testimonial-tab d-flex">
            <li class="mr-24 testtab active" id="defaultOpen">By Collectors</li>
            <li class="testtab" id="defaultOpen1">By Artist</li>
        </ul>
    </div>
    <div class="main-testimonial row">
        <div class="testimonial col-lg-6 col-md-6 col-sm-12 my-2">
            <div class="testmonial-list d-flex p-24">
                <!-- <div class="testimonial-image mr-24">
                    <img src="./assets/images/bird.jpg">
                </div> -->
                <div class="testimonial-image artist-image mr-24">
                    <img src="./assets/images/bird.jpg">
                </div>
                <div class="test-col-content">
                    <h4 class="fw-600 mb-0">Very Smooth Transection</h4>
                    <div class="test-post-flex d-flex">
                        <span class="fs-12 fw-500 text-post-color">By Amit Kumar</span>
                        <span class="fs-12 fw-500 text-post-color text-post-margin">|</span>
                        <span class="fs-12 fw-500 text-post-color">Posted On 9 Jan 2023</span>
                    </div>
                    <p class="mt-20 mb-0 longtext">
                        The Serigraph is amazing. Feels good to have an OP Sharma Serigraph. Very Smooth transaction.
                    </p>
                </div>
                <div class="border-line"></div>
            </div>
        </div>
        <div class="testimonial col-lg-6 col-md-6 col-sm-12 my-2">
            <div class="testmonial-list d-flex">
                <div class="testimonial-image mr-24">
                    <img src="./assets/images/bird.jpg">
                </div>
                <div class="test-col-content">
                    <h4 class="fw-600">Very Smooth Transection</h4>
                    <div class="test-post-flex d-flex">
                        <span class="fs-12 fw-500 text-post-color">By Amit Kumar</span>
                        <span class="fs-12 fw-500 text-post-color text-post-margin">|</span>
                        <span class="fs-12 fw-500 text-post-color">Posted On 9 Jan 2023</span>
                    </div>
                    <p class="mt-20 mb-0 longtext">
                        The Serigraph is amazing. Feels good to have an OP Sharma Serigraph. Very Smooth transaction.
                    </p>
                </div>
                <div class="border-line"></div>
            </div>
        </div>
        <div class="testimonial col-lg-6 col-md-6 col-sm-12 my-2">
            <div class="testmonial-list d-flex p-24">
                <div class="testimonial-image mr-24">
                    <img src="./assets/images/bird.jpg">
                </div>
                
                <div class="test-col-content">
                    <h4 class="fw-600 mb-0">Very Smooth Transection</h4>
                    <div class="test-post-flex d-flex">
                        <span class="fs-12 fw-500 text-post-color">By Amit Kumar</span>
                        <span class="fs-12 fw-500 text-post-color text-post-margin">|</span>
                        <span class="fs-12 fw-500 text-post-color">Posted On 9 Jan 2023</span>
                    </div>
                    <p class="mt-20 mb-0 longtext">
                        The Serigraph is amazing. Feels good to have an OP Sharma Serigraph. Very Smooth transaction.
                    </p>
                </div>
                <div class="border-line"></div>
            </div>
        </div>
        <div class="testimonial col-lg-6 col-md-6 col-sm-12 my-2">
            <div class="testmonial-list d-flex">
                <!-- <div class="testimonial-image mr-24">
                    <img src="./assets/images/bird.jpg">
                </div> -->
                <div class="testimonial-image artist-image mr-24">
                    <img src="./assets/images/bird.jpg">
                </div>
                <div class="test-col-content">
                    <h4 class="fw-600">Very Smooth Transection</h4>
                    <div class="test-post-flex d-flex">
                        <span class="fs-12 fw-500 text-post-color">By Amit Kumar</span>
                        <span class="fs-12 fw-500 text-post-color text-post-margin">|</span>
                        <span class="fs-12 fw-500 text-post-color">Posted On 9 Jan 2023</span>
                    </div>
                    <p class="mt-20 mb-0 longtext">
                        The Serigraph is amazing. Feels good to have an OP Sharma Serigraph. Very Smooth transaction.
                    </p>
                </div>
                <div class="border-line"></div>
            </div>
        </div>
    </div>
</div>
