<div class="container-fluid">
    <div class="row">
        <div class="detail-img col-md-4 col-sm-12">
            <img src="./assets/images/bird.jpg">
        </div>
        <div class="details col-md-5 col-sm-12">
            <h3>NovexArt Beautiful Eye Modern Art Canvas Painting for Living Room/Drawing Room (24in x 48in / 61cm x 122cm) (Canvas Roll)</h3>
            <a href="javascript:void()">Brand:Novex Art</a>
            <div class="rate">
                <h2 ><p class="small-red-text">-51%</p> ₹ 1,890</h2>
            </div>
          
            <h6 class="mrp">M.R.P: <s>₹3,899</s></h6>
            <p class="taxes">Inclusive of all taxes</p>
            
       
            
            <div class="pattern-name">
                <p><b>Pattern Name:</b></p>
                <div class="main-box">
                    <div class="box-frame">
                        <p> Box Frame: <br> ₹2000</p>
                    </div>
                    <div class="box-frame">
                        <p>Canvas Role:<br> ₹2000</p>
                    </div>
                    <div class="box-frame">
                        <p>Mounting Frame :<br> ₹2000</p>
                    </div>
                    <div class="box-frame">
                        <p>Wooden Frame :<br> ₹2000</p>
                    </div>
                </div>
            </div>
            <div class="dimensions">
                <p class="dimenesion-txt"><b class="dimension-bold">Product Dimensions</b> 61L x 122W Centimeters</p>
                <p class="dimenesion-txt"><b class="dimension-bold">Item Weight</b>500 Grams</p>
                <p class="dimenesion-txt"><b class="dimension-bold">Number of Items</b>1</p>
                <p class="dimenesion-txt"><b class="dimension-bold">Orientation</b>Landscape</p>
                <p class="dimenesion-txt"><b class="dimension-bold">Shape</b>Rectangular</p>
                <p class="dimenesion-txt"><b class="dimension-bold">Theme</b>Anime</p>
                <p class="dimenesion-txt"><b class="dimension-bold">Recommended Uses</b>Indoor</p>
            </div>
        </div>
        <div class="cart-conatiner col-md-3 col-sm-12">
            <h2 class="main-rate">₹1,899.00</h2>
            <p class="free-txt">Free Delivery : <b> 2 - 7 September</b></p>
            <a href="javascript:void()"  class="detail">Details</a>
            <div class="delivery-location">
                <div class="location">
                    <a href="javascript:void()">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
                            <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/>
                        </svg>
                        
                    </a>
                    <p class="select-txt">Select Delivery Location</p>
                </div>
                    <h4 class="green-txt"> In Stock</h4>
                    <p class="green-txt">Sold and Fullfilled by <a href="javscript:void()" class="detail">Novex Enterprise</a></p>
                    <div class="quantity">
                        <label for="quantity" class="qnty">Quantity :</label>
                        <select name="quantity" id="qty">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                        </select>
                    </div>
                    <div class="cart-btn">
                        <a href="javascript:void()">Add to Cart</a>
                    </div>     
                    <div class="buy-now">
                        <a href="javascript:void()">Buy Now</a>
                    </div>
                    <div class="secure-transection">
                        <a href="javascript:void()">
                           <img src="./assets/images/lock-solid.svg">
                            
                        </a>
                        <p class="lock-txt">Secure Transection</p>
                    </div>
                    
                
                
               
            </div>
        </div>
    </div>
</div>