
html, body {
  height: 100%;
}
p.text-muted a {
    text-decoration: none;
    background: red;
    color: #ffffff;
    font-weight: 500;
    font-size: 17px;
    border: 1px solid red;
    border-radius: 44px;
    padding: 8px 12px;
}
p.text-muted a:hover{
  background-color: #fff;
  border: 1px solid red;
  color: red ;
}
.container{
  background: #ffffff !important;
  }
  p.track {
    margin-left: 24px;
}

h1.no-found {
  text-align: center;
  padding: 10px;
}
.orders {
  border: 1px solid #e7e7e7;
  padding: 10px;
}
.status,.order-number {
  font-weight: 700;
}
.total-detail{
  font-weight: 500;
}
.text-muted{
  text-transform: capitalize;
}
@media screen and (max-width:575px){
  .order-img{
    text-align: center;
  }
  img{
    width: 100%;
  }
}