<div class="container">

    <div class="login form">
        <div class="back-to-forgot-password">
            <mat-icon svgIcon="password_reset" class="arrow-icon ">
                <a [routerLink]="['/auth/login']" class="back-forgot">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
                        <path
                            d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" />
                    </svg>
                </a>
            </mat-icon>

        </div>
        <h4 class="">Reset Password</h4>
        <form (ngSubmit)="onSubmit()" [formGroup]="resetPassForm">
            <mat-form-field class="full-w ">
                <mat-label>New Password</mat-label>
                <input matInput type="password" formControlName="password" placeholder="New Password">
                <mat-error *ngIf="resetPassForm.controls['password'].errors?.['required']">
                    Password is required.
                </mat-error>
                <mat-error *ngIf="resetPassForm.controls['password'].errors?.['passwordLength']">
                    Minimum Length 6 to 20 is required.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-w ">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password">
                <mat-error *ngIf="resetPassForm.controls['confirmPassword'].invalid && (resetPassForm.controls['confirmPassword'].dirty || resetPassForm.controls['confirmPassword'].touched)"
                    class="alert alert-danger" required>
                    <mat-error *ngIf="resetPassForm.controls['confirmPassword'].errors?.['required']">
                        Confirm Password is required.
                    </mat-error>
                    <mat-error *ngIf="resetPassForm.controls['confirmPassword'].errors?.['passwordLength']">
                        Minimum Length 6 to 20 is required.
                    </mat-error>
                    <mat-error *ngIf="resetPassForm.controls['confirmPassword'].errors?.['confirmedValidator']">
                        Passwords did not match
                    </mat-error>
                </mat-error>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" class="reset-btn mt-3 mb-3 " >Reset Password</button>
        </form>
    </div>
</div>
<div>
    <p><br></p>
    <p><br></p>
    <p><br></p>
</div>