<div class="container">
    <div class="delivery-address p-3">
        <h3 class="mb-0">Delivery Address</h3>
    </div>
    <div class="current-location col-md-12 col-sm-12 p-5 pt-4">
        <!-- <div class="location-button mb-4">
            <a href="javascript:void(0)">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
                    <path
                        d="M256 0c17.7 0 32 14.3 32 32V66.7C368.4 80.1 431.9 143.6 445.3 224H480c17.7 0 32 14.3 32 32s-14.3 32-32 32H445.3C431.9 368.4 368.4 431.9 288 445.3V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V445.3C143.6 431.9 80.1 368.4 66.7 288H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H66.7C80.1 143.6 143.6 80.1 224 66.7V32c0-17.7 14.3-32 32-32zM128 256a128 128 0 1 0 256 0 128 128 0 1 0 -256 0zm128-80a80 80 0 1 1 0 160 80 80 0 1 1 0-160z"
                        fill="#ffffff" />
                </svg>
                Use My Current Location</a>
        </div> -->
        
        <form (ngSubmit)="onSubmit()" [formGroup]="addressForm">
            <div class="field-section col-md-12 col-sm-12">
                <div class="name-code row">
                    <div class="name col-md-4 col-sm-12 mt-3">
                        <mat-form-field class="example-full-width full-w">
                            <mat-label>Name</mat-label>
                            <input pattern="[a-zA-Z][a-zA-Z ]+" matInput formControlName="name" placeholder="Enter your name">
                            <mat-error *ngIf="addressForm.controls['name'].errors?.['required']">
                                Field is required.
                            </mat-error>
                            <mat-error *ngIf="addressForm.controls['name'].errors?.['pattern']">
                                Only alphabets allowed
                             </mat-error>
                        </mat-form-field>
                        <mat-form-field class="example-full-width full-w">
                            <mat-label>Pin Code</mat-label>
                            <input  pattern="[0-9]*"  matInput formControlName="pincode" placeholder="Enter pin code">
                            <mat-error *ngIf="addressForm.controls['pincode'].errors?.['required']">
                                Field is required.
                            </mat-error>
                            <mat-error *ngIf="addressForm.controls['pincode'].errors?.['pattern']">
                                Only Numbers allowed.
                             </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="code col-md-4 col-sm-12 mt-3">
                        <mat-form-field class="example-full-width full-w">
                            <mat-label>10 digit mobile number</mat-label>
                            <input pattern="[0-9]*" minlength="10" maxlength="10"  matInput formControlName="phoneNumber" placeholder="Enter mobile number">
                            <mat-error *ngIf="addressForm.controls['phoneNumber'].errors?.['required']">
                                Field is required.
                            </mat-error>
                            <mat-error *ngIf="addressForm.controls['phoneNumber'].errors?.['pattern']">
                               Only Numbers allowed.
                            </mat-error>
                            <mat-error *ngIf="addressForm.controls['phoneNumber'].errors?.['minlength']">
                                Enter minimum 10 digits. 
                             </mat-error>
                             <mat-error *ngIf="addressForm.controls['phoneNumber'].errors?.['maxlength']">
                              Enter  Maximum 10 digit.
                             </mat-error>
                        </mat-form-field>
                        <mat-form-field class="example-full-width full-w">
                            <mat-label>Locality</mat-label>
                            <input formControlName="locality" matInput placeholder="Enter locality">
                            <mat-error *ngIf="addressForm.controls['locality'].errors?.['required']">
                                Field is required.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="text-area col-md-8 col-sm-12 mt-3 ">
                    <mat-form-field class="example-full-width full-w">
                        <mat-label>Address (area and street)</mat-label>
                        <textarea matInput formControlName="address" placeholder=""></textarea>
                        <mat-error *ngIf="addressForm.controls['address'].errors?.['required']">
                            Field is required.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="mark-location row">
                    <div class="city-mark col-md-4 col-sm-12 mt-3">
                        <mat-form-field class="full-w">
                            <mat-label>State </mat-label>
                            <mat-select (selectionChange)="changeState($event)" formControlName="state">
                                <mat-option selected disabled value="">Select State</mat-option>
                                <mat-option *ngFor="let state of stateList" [value]="state">{{state}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="addressForm.controls['state'].errors?.['required']">
                                Field is required.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="example-full-width full-w">
                            <mat-label>Landmark (optional)</mat-label>
                            <input matInput formControlName="landmark"  placeholder="Enter landmark">
                        </mat-form-field>
                    </div>
                    <div class="state-alt col-md-4 col-sm-12 mt-3">
                        <mat-form-field class="example-full-width full-w">
                            <mat-label>City/District/town</mat-label>
                            <mat-select formControlName="city">
                                <mat-option selected disabled value="">Select city/district</mat-option>
                                <mat-option *ngFor="let city of cityList" [value]="city">{{city}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                        <mat-form-field class="example-full-width full-w">
                            <mat-label>Alternate Phone (Optional)</mat-label>
                            <input  pattern="[0-9]*" minlength="10" maxlength="10" matInput formControlName="allternatePhone" placeholder="Enter Alternate Phone">
                            <mat-error *ngIf="addressForm.controls['allternatePhone'].errors?.['pattern']">
                                Only Numbers allowed.
                             </mat-error>
                             <mat-error *ngIf="addressForm.controls['allternatePhone'].errors?.['minlength']">
                                 Enter minimum 10 digits. 
                              </mat-error>
                              <mat-error *ngIf="addressForm.controls['allternatePhone'].errors?.['maxlength']">
                               Enter  Maximum 10 digit.
                              </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="address-type col-md-8 col-sm-12 row mb-5">
                        <div class="home col-md-4 col-sm-12">
                            <mat-radio-group formControlName="delveryType" aria-label="Select an option">
                                <mat-radio-button value="home">Home (all day delivery)</mat-radio-button> <br>
                                <mat-radio-button value="other">Work (Delivery between 10 AM to 5 PM)</mat-radio-button>
                            </mat-radio-group>
                            <div *ngIf="addressForm.controls['delveryType'].invalid && (addressForm.controls['delveryType'].dirty || addressForm.controls['delveryType'].touched)"
                            class="alert " required>
                             <mat-error *ngIf="addressForm.controls['delveryType'].errors?.['required']">
                                Field is required.
                            </mat-error>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button col-md-3">
                    <button type="submit" *ngIf="!addressData" class="continue">Continue</button>
                    <button *ngIf="addressData" type="submit" class="update-btn" >Update</button>
                </div>
            </div>
        </form>
    </div>

</div>
<div>
    <p><br></p>
    <p><br></p>
    <p><br></p>
</div>