<div class="main-container  pb-3">
  <h1 class="text-center pt-4 pb-4"> <u>Our Projects</u> </h1>

   <!-- inetrnational Airport -->

  <div class="main-project-images">
    <div class="project-section">
      <h2>Chandigarh International Airport</h2>
   </div>
   <div class="images-section">
     <ul class="cards" (click)="toggleClass(1)" [ngClass]="{'transition': expandedCardIndex === 1}">
       <li class="card card-1">
         <img src="./assets/images/bird.jpg" alt="Card 1">
       </li>
       <li class="card card-2">
         <img src="./assets/images/cat.jpg" alt="Card 2">
       </li>
       <li class="card card-3">
         <img src="./assets/images/eye.jpg" alt="Card 3">
       </li>
     </ul>
   </div>
  </div>
  <hr>

   <!-- Glennview report kasauli -->

  <div class="main-project-images">
    <div class="project-section">
      <h2>Glenview Resort, Kasauli</h2>
   </div>
   <div class="images-section">
     <ul class="cards" (click)="toggleClass(2)" [ngClass]="{'transition': expandedCardIndex === 2}">
       <li class="card card-1">
         <img src="./assets/images/animal.jpg" alt="Card 1">
       </li>
       <li class="card card-2">
         <img src="./assets/images/artist.jpg" alt="Card 2">
       </li>
       <li class="card card-3">
         <img src="./assets/images/artist2.jpg" alt="Card 3">
       </li>
     </ul>
   </div>
  </div>
  <hr>

  <!-- PWD rest house Panchkula -->

  <div class="main-project-images">
    <div class="project-section">
      <h2>PWD Rest House, Panchkula</h2>
   </div>
   <div class="images-section">
     <ul class="cards" (click)="toggleClass(3)" [ngClass]="{'transition': expandedCardIndex === 3}">
       <li class="card card-1">
         <img src="./assets/images/artist3.jpg" alt="Card 1">
       </li>
       <li class="card card-2">
         <img src="./assets/images/first.jpg" alt="Card 2">
       </li>
       <li class="card card-3">
         <img src="./assets/images/flower.jpg" alt="Card 3">
       </li>
     </ul>
   </div>
  </div>
  <hr>
  <!--Ashiyana grand , Shimla -->

  <div class="main-project-images">
    <div class="project-section">
      <h2>Ashiyana Grand, Shimla</h2>
   </div>
   <div class="images-section">
     <ul class="cards" (click)="toggleClass(4)" [ngClass]="{'transition': expandedCardIndex === 4}">
       <li class="card card-1">
         <img src="./assets/images/free-delivery.png" alt="Card 1">
       </li>
       <li class="card card-2">
         <img src="./assets/images/girl.jpg" alt="Card 2">
       </li>
       <li class="card card-3">
         <img src="./assets/images/google-icon.png" alt="Card 3">
       </li>
     </ul>
   </div>
  </div>
  <hr>
  <!-- Alchemist Hospital , Panchkula -->

  <div class="main-project-images">
    <div class="project-section">
      <h2>Alchemist Hospital, Panchkula</h2>
   </div>
   <div class="images-section">
     <ul class="cards" (click)="toggleClass(5)" [ngClass]="{'transition': expandedCardIndex === 5}">
       <li class="card card-1">
         <img src="./assets/images/hut.jpg" alt="Card 1">
       </li>
       <li class="card card-2">
         <img src="./assets/images/krishna.jpg" alt="Card 2">
       </li>
       <li class="card card-3">
         <img src="./assets/images/logo.png" alt="Card 3">
       </li>
     </ul>
   </div>
  </div>
  <hr>
  <!-- Bisaat hotel, Panchkula -->

  <div class="main-project-images">
    <div class="project-section">
      <h2>Bisaat Hotel, Panchkula</h2>
   </div>
   <div class="images-section">
     <ul class="cards" (click)="toggleClass(6)" [ngClass]="{'transition': expandedCardIndex === 6}">
       <li class="card card-1">
         <img src="./assets/images/main-logo.png" alt="Card 1">
       </li>
       <li class="card card-2">
         <img src="./assets/images/mountain.jpg" alt="Card 2">
       </li>
       <li class="card card-3">
         <img src="./assets/images/nature.jpg" alt="Card 3">
       </li>
     </ul>
   </div>
  </div>
  <hr>
  <!-- A.K suites, Patiala -->

  <div class="main-project-images">
    <div class="project-section">
      <h2>A.K Suites, Patiala</h2>
   </div>
   <div class="images-section">
     <ul class="cards" (click)="toggleClass(7)" [ngClass]="{'transition': expandedCardIndex === 7}">
       <li class="card card-1">
         <img src="./assets/images/new1.png" alt="Card 1">
       </li>
       <li class="card card-2">
         <img src="./assets/images/new-logo1.png" alt="Card 2">
       </li>
       <li class="card card-3">
         <img src="./assets/images/new-logo2.png" alt="Card 3">
       </li>
     </ul>
   </div>
  </div>
  <hr>
  <!--Police Housing Corporation office, Panchkula  -->

  <div class="main-project-images">
    <div class="project-section">
      <h2>Police Housing Corporation Office, Panchkula</h2>
   </div>
   <div class="images-section">
     <ul class="cards" (click)="toggleClass(8)" [ngClass]="{'transition': expandedCardIndex === 8}">
       <li class="card card-1">
         <img src="./assets/images/paintika.jpg" alt="Card 1">
       </li>
       <li class="card card-2">
         <img src="./assets/images/Paintika1.jpg" alt="Card 2">
       </li>
       <li class="card card-3">
         <img src="./assets/images/profile.jpg" alt="Card 3">
       </li>
     </ul>
   </div>
  </div>
<hr>
  <!-- Police Housing rest house , Panchkula -->

  <div class="main-project-images">
    <div class="project-section">
      <h2>Police Housing Rest House, Panchkula</h2>
   </div>
   <div class="images-section">
     <ul class="cards" (click)="toggleClass(9)" [ngClass]="{'transition': expandedCardIndex === 9}">
       <li class="card card-1">
         <img src="./assets/images/bird.jpg" alt="Card 1">
       </li>
       <li class="card card-2">
         <img src="./assets/images/cat.jpg" alt="Card 2">
       </li>
       <li class="card card-3">
         <img src="./assets/images/eye.jpg" alt="Card 3">
       </li>
     </ul>
   </div>
  </div>
  <hr>
  <!-- Electricity board rest house panchkula -->

  <div class="main-project-images">
    <div class="project-section">
      <h2>Electricity Board Rest House, Panchkula</h2>
   </div>
   <div class="images-section">
     <ul class="cards" (click)="toggleClass(10)" [ngClass]="{'transition': expandedCardIndex === 10}">
       <li class="card card-1">
         <img src="./assets/images/bird.jpg" alt="Card 1">
       </li>
       <li class="card card-2">
         <img src="./assets/images/cat.jpg" alt="Card 2">
       </li>
       <li class="card card-3">
         <img src="./assets/images/eye.jpg" alt="Card 3">
       </li>
     </ul>
   </div>
  </div>
  <hr>
  <!-- Shiksha Sadan building, Panchkula -->

  <div class="main-project-images">
    <div class="project-section">
      <h2>Shiksha Sadan Building, Panchkula</h2>
   </div>
   <div class="images-section">
     <ul class="cards" (click)="toggleClass(11)" [ngClass]="{'transition': expandedCardIndex === 11}">
       <li class="card card-1">
         <img src="./assets/images/bird.jpg" alt="Card 1">
       </li>
       <li class="card card-2">
         <img src="./assets/images/cat.jpg" alt="Card 2">
       </li>
       <li class="card card-3">
         <img src="./assets/images/eye.jpg" alt="Card 3">
       </li>
     </ul>
   </div>
  </div>
  <hr>
  <!-- Natraj hotel, Dharmshala -->

  <div class="main-project-images">
    <div class="project-section">
      <h2>Natraj Hotel, Dharmshala</h2>
   </div>
   <div class="images-section">
     <ul class="cards" (click)="toggleClass(12)" [ngClass]="{'transition': expandedCardIndex === 12}">
       <li class="card card-1">
         <img src="./assets/images/bird.jpg" alt="Card 1">
       </li>
       <li class="card card-2">
         <img src="./assets/images/cat.jpg" alt="Card 2">
       </li>
       <li class="card card-3">
         <img src="./assets/images/eye.jpg" alt="Card 3">
       </li>
     </ul>
   </div>
  </div>
  <hr>
  <!-- Marriot, Jammu -->
  
  <div class="main-project-images">
    <div class="project-section">
      <h2>Marriot, Jammu</h2>
   </div>
   <div class="images-section">
     <ul class="cards" (click)="toggleClass(13)" [ngClass]="{'transition': expandedCardIndex === 13}">
       <li class="card card-1">
         <img src="./assets/images/bird.jpg" alt="Card 1">
       </li>
       <li class="card card-2">
         <img src="./assets/images/cat.jpg" alt="Card 2">
       </li>
       <li class="card card-3">
         <img src="./assets/images/eye.jpg" alt="Card 3">
       </li>
     </ul>
   </div>
  </div>
<hr>
  <!-- GST department, Chandigarh -->

  <div class="main-project-images">
    <div class="project-section">
      <h2>GST Department, Chandigarh</h2>
   </div>
   <div class="images-section">
     <ul class="cards" (click)="toggleClass(14)" [ngClass]="{'transition': expandedCardIndex === 14}">
       <li class="card card-1">
         <img src="./assets/images/bird.jpg" alt="Card 1">
       </li>
       <li class="card card-2">
         <img src="./assets/images/cat.jpg" alt="Card 2">
       </li>
       <li class="card card-3">
         <img src="./assets/images/eye.jpg" alt="Card 3">
       </li>
     </ul>
   </div>
  </div>
  <hr>
  <!-- Clubs and lounges -->

  <div class="main-project-images main-clubs">
    <div class="project-section">
      <h2>Clubs and Lounges: Chandiland and , Purple Frog , Mobe 26 , Hard Rock Cafe</h2>
   </div>
   <div class="images-section">
     <ul class="cards" (click)="toggleClass(15)" [ngClass]="{'transition': expandedCardIndex === 15}">
       <li class="card card-1">
         <img src="./assets/images/bird.jpg" alt="Card 1">
       </li>
       <li class="card card-2">
         <img src="./assets/images/cat.jpg" alt="Card 2">
       </li>
       <li class="card card-3">
         <img src="./assets/images/eye.jpg" alt="Card 3">
       </li>
     </ul>
   </div>
  </div>
<hr>
<!-- Jk Clarks in, Dalhousie -->

<div class="main-project-images ">
  <div class="project-section">
    <h2>JK Clarks Inn, Dalhousie</h2>
 </div>
 <div class="images-section">
   <ul class="cards" (click)="toggleClass(16)" [ngClass]="{'transition': expandedCardIndex === 16}">
     <li class="card card-1">
       <img src="./assets/images/bird.jpg" alt="Card 1">
     </li>
     <li class="card card-2">
       <img src="./assets/images/cat.jpg" alt="Card 2">
     </li>
     <li class="card card-3">
       <img src="./assets/images/eye.jpg" alt="Card 3">
     </li>
   </ul>
  </div>
</div>

</div>
