<ul class="cards" (click)="toggleClass()" [ngClass]="{'transition': transitionClass}">
    <li class="card card-1">
      <img src="http://lorempixel.com/400/250/city" alt="Card 1">
      <div class="content">
        <h1>Card 1 Title</h1>
        <p>Card description</p>
      </div>
    </li>
    <li class="card card-2">
      <img src="http://lorempixel.com/400/250/food" alt="Card 2">
      <div class="content">
        <h1>Card 2 Title</h1>
        <p>Card description</p>
      </div>
    </li>
    <li class="card card-3">
      <img src="http://lorempixel.com/400/250/animals" alt="Card 3">
      <div class="content">
        <h1>Card 3 Title</h1>
        <p>Card description</p>
      </div>
    </li>
  </ul>