
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <!-- Position Column -->
    <ng-container matColumnDef="position">
			<th *matHeaderCellDef mat-header-cell mat-sort-header> No.</th>
			<td *matCellDef="let element" mat-cell> {{element.position}}</td>
		</ng-container>
    <ng-container matColumnDef="name">
			<th *matHeaderCellDef mat-header-cell mat-sort-header> Name </th>
			<td *matCellDef="let element" mat-cell> {{element.name}}</td>
		</ng-container>
    <ng-container matColumnDef="weight">
			<th *matHeaderCellDef mat-header-cell mat-sort-header> Weight </th>
			<td *matCellDef="let element" mat-cell> {{element.weight}}</td>
		</ng-container>
    <ng-container matColumnDef="symbol">
			<th *matHeaderCellDef mat-header-cell mat-sort-header> Symbol</th>
			<td *matCellDef="let element" mat-cell> {{element.symbol}}</td>
		</ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  