.container{
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    margin: 4% auto;
    width: 100%;
    padding: 0;
    max-width: 700px;
}
.form h4{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}
.verify-otp{
    background-image: url(../../../../assets/images/verify-otp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.button {
    width: 289px;
    height: 45px;
    background: red;
    border-radius: 44px;
    font-size: 16px;
    color: #fff;
    border: none;
 }
 button:hover{
    background: #fff;
    color: red;
    border: 1px solid red;
  }
 .back-to-login {
   margin-bottom: 20px;
}
.back-to-login a{
    font-size: 27px;
}
label.otp-label {
    font-size: 21px;
    margin-bottom: 10px;
}
.resend-otp {
    text-align: end;
    margin-top: 18px;
}

.resend-otp a {
    text-decoration: none;
    color: #000000;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}
.resend-otp a:hover{
    text-decoration: underline;
    color: #0d6efd;
    cursor: pointer;
}
.full-w{
    width: 100%;
}
h3 {
    font-size: 22px !important;
    font-weight: 500 !important;
}
.w-30{
    width: 30%;
  }
  .w-70{
    width: 70%;
  }
  @media screen and (max-width:991px){
    .verify-otp{
      display: none;
    }
    .login{
      width: 100%;
    }
  }
  @media screen and (max-width:767px){
    form{
      padding: 0 10px !important;
    }
    .back-to-login{
      padding: 0 10px !important;
    }
    .login{
        padding: 10px 30px !important;
    }
  }