<div class="container pt-5 pb-5">
    <h2 class="text-center mt-4 animate__animated animate__fadeInDown">Required Painting Details</h2>
    <div class="file-upload col-md-8 animate__animated animate__fadeInDown mx-auto">
        <input #Image type="file" accept="image/*" multiple
                        (change)="selectFiles($event)" />
                    <div *ngIf="previews.length" class="image-preview-container">
                        <img *ngFor="let preview of previews" [src]="preview" class="preview">
                    </div>
    </div>
    <div class="col-md-8 col-sm-12 pt-3 mx-auto">
        <mat-form-field class="example-full-width full-w animate__animated animate__fadeInUp">
            <mat-label>Painting Description</mat-label>
            <textarea style="text-transform: capitalize;"  matInput></textarea>
            
        </mat-form-field>
    </div>
    <div class="col-md-4 text-center animate__animated animate__animate__fadeInDown mx-auto">
        <button mat-button type="submit" class="requirement-btn animate__animated animate__fadeInUp">Send Requirement</button>
    </div>
</div>
<div>
    <p><br></p>
    
</div>
