h5.labels {
    margin-bottom: 5px;
}
.order-section.p-2.text-left.col-9 {
    padding-left: 8em !important;
}

img.user-img {
    width: 16%;
    height: 15%;
}
.item-section {
    margin-bottom: 3em;
}
.row.item {
    margin-top: 14px;
}

h5.labels.total-font {
    font-size: 17px;
}
h5.status-label {
    font-size: 15px;
}