img{
    width: 40%;
    padding: 10px;
  }
  .container{
    background: #ffffff !important;
  }
  h2.text-center.p-4 {
    font-size: 28px;
}
.table-dv {
  width: 91%;
  margin: 0 auto;
}
.reject-btn{
  background: red;
  color: #ffffff;
  margin-left: 5px;
}
.approve-btn{
  background:green;
  color: #ffffff;
  margin-left: 5px;
}