<div class="main container">
  <div class="text-center user-main">
      <h1 class="mt-3">User Order Details</h1>
  </div>  
  <div  class="section1" *ngIf="orders">
      <div class="row">
          <div class="order-section p-2 text-left col">
              <ng-container>
                  <img src="" class="user-img" alt="">
              </ng-container>
              <ng-container>
                  <img class="user-img" src="https://paintika.s3.ap-south-1.amazonaws.com/1692028765688_image_4312740.jpg" alt="">
              </ng-container>
          </div>
          <div class="order-section p-2 text-left col-7">
              <h5 class="labels"> <b>Payment Id: </b>{{orders.payment_id}}</h5>
              <h5 class="labels">  <b>Created At: </b> 21212</h5>
              <h5 class="labels"> <b>Status: </b>12</h5>
              <h5 class="labels"> <b>Payment Status: </b>fsdh</h5>
              <h5 class="labels"> <b>Payment Id: </b>sfd</h5>
              <h5 class="labels"> <b>Order Total: </b>fd</h5>
          </div>
      </div>
  </div>
  <div *ngIf="!orders">
     <h2 class=""> Record Not Found! </h2>
  </div>
</div>