.block-btn{
    background-color:red;
    color: #ffffff;
    margin-right: 5px;
}
.reject-btn{
    background: red;
    color: #ffffff;
}
img{
    width: 10%;
}
.container{
    background: #ffffff !important;
}
h2.text-center.p-4 {
    font-size: 28px;
}
.table-dv {
    width: 91%;
    margin: 0 auto;
}
.unblock-btn{
    background-color:green;
    color: #ffffff;
}