.block-btn{
    background-color:#000000;
    color: #ffffff;
    margin-right: 5px;
}
.reject-btn{
    background: #000000;
    color: #ffffff;
}
.unblock-btn:hover,.reject-btn:hover,.block-btn:hover{
    background-color: lightgray;
}
img{
    width: 10%;
}
.container{
    background: #ffffff !important;
}
h2.text-center.p-4 {
    font-size: 28px;
}
.table-dv {
    width: 91%;
    margin: 0 auto;
}
.unblock-btn{
    background-color:#000000;
    color: #ffffff;
}

.list-data {
    float: right;
    width: 30%;
}
img{
    width: 40%;
    padding: 10px;
}