<div class="wrapper container mt-4">
    <section>
        <h1>Paintikaart Terms and Conditions</h1>
    </section>

    <section>
        <h2>Introduction</h2>
        <p>Welcome to Paintikaart. By accessing our website, you agree to comply with and be bound by the following terms and conditions.</p>
    </section>

    <section>
        <h2>Use of Our Website</h2>
        <p>By using Paintikaart, you agree to:</p>
        <ul>
            <li>Comply with all applicable laws and regulations.</li>
            <li>Not use our website for any unlawful purpose or to violate the rights of others.</li>
            <li>Not engage in any activity that could damage, disable, or impair the operation of our website.</li>
        </ul>
    </section>

    <section>
        <h2>Intellectual Property</h2>
        <p>The content on Paintikaart, including images, text, and logos, is protected by intellectual property rights. You may not use, reproduce, or distribute any content from our website without our prior written consent.</p>
    </section>

    <section>
        <h2>Disclaimer</h2>
        <p>Paintikaart provides its services on an "as is" and "as available" basis. We do not warrant that our website will be uninterrupted, error-free, or free from viruses or other harmful components.</p>
    </section>

    <section>
        <h2>Limitation of Liability</h2>
        <p>In no event shall Paintikaart or its affiliates be liable for any indirect, incidental, special, or consequential damages arising out of or in any way connected with your use of our website.</p>
    </section>

    <section>
        <h2>Changes to These Terms and Conditions</h2>
        <p>We reserve the right to modify or replace these terms and conditions at any time. Any changes will be effective immediately upon posting on this page.</p>
    </section>

    <section>
        <p>If you have any questions or concerns about our terms and conditions, please contact us at terms@paintikaart.com.</p>
    </section>
</div>