
<div class="container mt-4 p-5">
    <div class="row g-5">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
            <div class="position-relative h-100">
                <div class="first-image position-absolute">
                    <img class="img-fluid" src="./assets/images/artist.jpg" alt="artist-1">
                </div>
                <div class="second-image position-absolute">
                    <img class="img-fluid " src="./assets/images/artist2.jpg" alt="artist-2">
                </div>
                <div class="third-image position-absolute">
                    <img class="img-fluid" src="./assets/images/artist3.jpg" alt="artist-3">
                </div>
                
            </div>
        </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
            <h2 class="section-title  text-start">About Us</h2>
            <h2 class="artist-name mb-4">Vidushi Thakur <span class="the-art">The Artist</span></h2>
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae mollitia corporis optio
                excepturi sequi soluta laboriosam, hic minima. Veniam, harum nobis! Numquam, quia consequuntur
                voluptatum quibusdam dolor at asperiores nostrum.100</p>
            <div class="experience-designs ">
                <div class="designs">
                    <h2 class="text mb-0"> 3000 +</h2>
                    <h2 class="mb-0">Art Designs</h2>
                    <p>
                        We are completed 3000+ designs
                    </p>
                </div>
              
            </div>

        </div>
    </div>
    
   
</div>

<p><br></p>
<p><br></p>
<p><br></p>