<div class="main container">
    <div class="text-center user-main">
        <h1 class="mt-3">Painting Details</h1>
    </div>  
    <div *ngIf="getData" class="section1">
        <div class="row">
            <div class="order-section p-2 text-left col">
                <ng-container *ngIf="getData && getData.image">
                    <img [src]="getData.image" class="user-img" alt="">
                </ng-container>
                <ng-container *ngIf="getData && !getData.image">
                    <img class="user-img" src="https://paintika.s3.ap-south-1.amazonaws.com/1692028765688_image_4312740.jpg" alt="">
                </ng-container>
            </div>
            <div class="order-section p-2 text-left col-7">
                <h5 class="labels"><b>Name: </b> {{getData.name}}</h5>
                <h5 class="labels"> <b>Created At: </b>{{getData.createdAt | date:'MMM dd, yyyy'}}</h5>
                <h5 class="labels"><b>Frame Quality: </b> {{getData.frame_quality}}</h5>
                <h5 class="labels"> <b>Medium: </b>{{getData.medium}}</h5>
                <h5 class="labels"> <b>Price: </b>{{getData.price}}</h5>
                <h5 class="labels"> <b>Role: </b>{{getData.role}}</h5>
                <h5 class="labels"> <b>Size: </b>{{getData.size}}</h5>
                <h5 class="labels"> <b>Theme: </b>{{getData.theme}}</h5>
                <h5 class="labels"> <b>Status: </b>{{getData.status}}</h5>
                <h5 class="labels"> <b>Rating: </b>{{getData.rating}}</h5>
            </div>
        </div>
    </div>
    <div *ngIf="!getData" class="text-center p-1">
       <h2 class=""> Record Not Found! </h2>
    </div>
</div>