<footer class="footer-layout">
    <div class="footer-bgcolor ">
        <div class="container">
            <div class="main-footer row pt-45">
                <div class="col-md-3 col-sm-4">
                    <img src="./assets/images/new.png" height="50" width="150">
                    <h3 class="slogan">
                        "Largest  aggregator for original paintings"
                    </h3>
                </div>
               
                <div class="art-category col-md-3  col-sm-12">
                    <h3>Art Category</h3>
                    <div class="categories">
                        <a href="javascript:void(0)">Digital Art</a>
                        <a href="javascript:void(0)">Drawing</a>
                        <a href="javascript:void(0)">Painting</a>
                        <a href="javascript:void(0)">Photography</a>
                        <a href="javascript:void(0)">Sculpture</a>
                        <a href="javascript:void(0)">Printmaking</a>
                    </div>
                  
                </div>
                <div class="art-category col-md-2 col-sm-12">
                    <h3>Artists</h3>
                    <div class="categories">
                        <a href="javascript:void(0)">M F Husain</a>
                        <a href="javascript:void(0)">S H Raza</a>
                        <a href="javascript:void(0)">F N Souza</a>
                        <a href="javascript:void(0)">Jatin Das</a>
                        <a href="javascript:void(0)">Thota Vaikuntam</a>
                        <a href="javascript:void(0)">Jyoti Bhatt</a>
                    </div>
                </div>
                <div class="art-category col-md-2 col-sm-12">
                    <h3>For Sellers</h3>
                    <div class="categories">
                        <a href="javascript:void(0)">Sell Your Art</a>
                        <a href="https://web.whatsapp.com/send?phone=+918544884846" target="_blank"
                        rel="noopener" data-url="https://web.whatsapp.com/send?phone=+918544884846">Support</a>
                     
                    </div>
                </div>
                <div class="art-category col-md-2 col-sm-12">
                    <h3>About</h3>
                    <div class="categories">
                        <a href="javascript:void(0)">About us</a>
                        <a href="javascript:void(0)">Testimonials</a>
                        <a href="javascript:void(0)">Contact Us</a>
                        <a href="javascript:void(0)">Privacy Policy</a>
                        <a href="javascript:void(0)">Sculpture</a>
                        <a href="javascript:void(0)">Terms & Conditions</a>
                    </div>
                </div>
            </div>
            <div class="price-app row">
                <div class="col-md-3"></div>
                <div class="art-category col-md-3 col-sm-12">
                    <h3 class="mt-3">Art By Price</h3>
                    <div class="categories">
                        <a href="javascript:void(0)">Under Rs 25,000</a>
                        <a href="javascript:voi(0)">Rs 25000 - Rs 1 Lac</a>
                        <a href="javascript:void(0)">Rs 1 Lac - Rs 3 Lac</a>
                    </div>
                </div>
                <div class="col-md-6 d-flex pt-5 app-store">
                    <div class="playstore">
                        <img src="./assets/images/google-play.png" height="32" width="130">
                    </div>
                    <div class="appstore">
                        <img src="./assets/images/app-store.png" height="32" width="130">
                    </div>
                </div>
            </div>
            <div class="copyright-social mt-25 pb-20 pt-20 d-flex justify-content-between">
                <span class="fw-500 copy-right">
                    Copyright OnArt Quest Limited 2024 .
                </span>
                <div class="social-icons d-flex justify-content-between">
                    <a href="javascript:void(0)" target="_blank" title="">
                        <span class="bi bi-facebook main-icon"></span>
                    </a>
                    <a href="javascript:void(0)" target="_blank" title="">
                        <span class="bi bi-instagram main-icon"></span>
                    </a>
                    <a href="javascript:void(0)" target="_blank" title="">
                        <span class="bi bi-twitter main-icon"></span>
                    </a>
                    <a href="javascript:void(0)" target="_blank" title="">
                        <span class="bi bi-linkedin main-icon"></span>
                    </a>
                    <a href="javascript:void(0)" target="_blank" title="">
                        <span class="bi bi-youtube main-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- <div class="footer bg-dark">
    <p><span class="footer-valign">
            © {{fullyear}} Copyright:
            <a class="text-reset fw-semibold" href="javascript:void(0);">{{applicationName}}</a>
        </span></p>
</div> -->