<footer class="footer-layout">
    <div class="footer-bgcolor ">
        <div class="container">
            <div class="row pt-45">
                <div class="col-md-3">
                    <img src="./assets/images/new.png" height="50" width="150">
                    <h3 class="slogan">
                        "Largest  aggregator for original paintings"
                    </h3>
                </div>
                <div class="col-md-2">
                    <h3>Art Category</h3>
                </div>
                <div class="col-md-2">
                    <h3>Artists</h3>
                </div>
                <div class="col-md-2">
                    <h3>For Sellers</h3>
                </div>
                <div class="col-md-2">
                    <h3>About</h3>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- <div class="footer bg-dark">
    <p><span class="footer-valign">
            © {{fullyear}} Copyright:
            <a class="text-reset fw-semibold" href="javascript:void(0);">{{applicationName}}</a>
        </span></p>
</div> -->