.footer-bgcolor {
    background-color: #e2e2e22e;
}
.log-flexcontent {
    display: flex;
    align-items: center;
    justify-content: center;
}
h3.slogan {
    font-size: 20px;
    font-weight: 600;
    max-width: 200px;
}
// button.btn.logout-button {
//     color: #ffffff !important;
// }
// .footer {
//     position: fixed;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//     background-color: #000000;
//     color: white;
//     text-align: center;
//     height: 50px;
//     display: flex;
//     justify-content: center;
//     z-index: 999;
//  }
//  .footer p {
//     margin-top: 13px;
// }
// .conatiner{
//     position: relative;
// }