h5.labels {
    margin-bottom: 5px;
  }
  .order-section.p-2.text-left.col-9 {
    padding-left: 8em !important;
  }
  
  img.user-img {
    width: 16%;
    height: 15%;
  }
.item-img{
    height: 100px;
    width: 100px;
}
  .item-section {
    margin-bottom: 3em;
  }
  .row.item {
    margin-top: 14px;
  }
  
  h5.labels.total-font {
    font-size: 17px;
  }
  .main-container{
    width: 85%;
  }
  .change-status{
    background-color: #000000;
    color: #ffffff;
    padding: 4px 7px;
  }
  .change-status:hover{
    background-color: lightgray;
  }
  @media screen and (max-width:767px){
    .order-section.p-2.text-left.col-9{
      padding-left: 15px !important;
      width: 100%;
    }
    .order-section.p-2.text-left.col-9 h1{
      text-align: center;
    }
    .order-section.p-2.text-right.col h1{
      text-align: center !important;
    }
    img{
      width: 100% !important;
    }
  }