<div class="container">
    <div class="field-section p-5">
        <form (ngSubmit)="onSubmit()" [formGroup]="uploadPaintForm">
            <div class="row justify-content-center">
                <div class="file-upload col-md-8 animate__animated animate__bounceInDown">
                    <input #Image type="file" formControlName="image"  accept="image/png, image/jpeg" multiple
                        (change)="selectFiles($event)" />
                    <div *ngIf="uploadPaintForm.controls['image'].invalid && (uploadPaintForm.controls['image'].dirty || uploadPaintForm.controls['image'].touched)"
                        class="alert " required>
                        <mat-error *ngIf="uploadPaintForm.controls['image'].hasError('required')">
                            Image is required.
                        </mat-error>
                    </div>
                    <div *ngIf="previews.length" class="image-preview-container">
                        <img *ngFor="let preview of previews" [src]="preview" class="preview">
                    </div>
                </div>
                <div class="row pt-3  justify-content-center">
                    <div class="name col-md-4 col-sm-12 ">
                        <mat-form-field class="example-full-width full-w animate__animated animate__bounceInUp">
                            <mat-label>Name</mat-label>
                            <input pattern="[a-zA-Z][a-zA-Z ]+" style="text-transform: capitalize;" formControlName="name" matInput placeholder="enter name">
                            <mat-error *ngIf="uploadPaintForm.controls['name'].hasError('required')">
                                Name is required.
                            </mat-error>
                            <mat-error *ngIf="uploadPaintForm.controls['name'].errors?.['pattern']">
                                Only alphabets allowed
                             </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="size col-md-4 col-sm-12">
                        <mat-form-field class="example-full-width full-w animate__animated animate__bounceInDown">
                            <mat-label>Size</mat-label>
                            <input matInput formControlName="size" placeholder="enter size">
                            <mat-error *ngIf="uploadPaintForm.controls['size'].hasError('required')">
                                Size is required.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 pt-3 mx-auto">
                    <mat-form-field class="example-full-width full-w animate__animated animate__bounceInUp">
                        <mat-label>Painting Theme</mat-label>
                        <textarea style="text-transform: capitalize;" formControlName="theme" matInput></textarea>
                        <mat-error *ngIf="uploadPaintForm.controls['theme'].hasError('required')">
                            Painting Theme is required.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row pt-3  justify-content-center">
                    <div class="medium col-md-4 col-sm-12">
                        <mat-form-field class="example-full-width full-w animate__animated animate__bounceInDown">
                            <mat-label>Medium</mat-label>
                            <input style="text-transform: capitalize;"  formControlName="medium" matInput>
                            <mat-error *ngIf="uploadPaintForm.controls['medium'].hasError('required')">
                                Medium is required.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="framing-quality col-md-4 col-sm-12 animate__animated animate__bounceInUp">
                        <mat-form-field class="example-full-width full-w">
                            <mat-label>Framing Quality</mat-label>
                            <input style="text-transform: capitalize;" formControlName="frame_quality" matInput>
                            <mat-error *ngIf="uploadPaintForm.controls['frame_quality'].hasError('required')">
                                Framing Quality is required.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 pt-3 mx-auto mb-2">
                    <mat-form-field class="example-full-width full-w animate__animated animate__bounceInDown">
                        <mat-label>Price</mat-label>
                        <input style="text-transform: capitalize;" matInput formControlName="price">
                        <mat-error *ngIf="uploadPaintForm.controls['price'].hasError('required')">
                            Price is required.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-8 col-sm-12 pt-3 mx-auto mb-5">
                    <mat-form-field class="full-w">
                        <mat-label>Select Category</mat-label>
                        <mat-select formControlName="category" name="food">
                          <mat-option>None</mat-option>
                          <mat-option *ngFor="let cate of categoryList" [value]="cate._id">
                            {{cate.name}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="uploadPaintForm.controls['category'].hasError('required')">
                            Category is required.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row mx-auto justify-content-center ">
                    <div class="col-md-4 text-center animate__animated animate__bounceInUp">
                        <button mat-button type="button" (click)="cancel()" class="cancel-btn">Cancel</button>
                    </div>
                    <div class="col-md-4 text-center animate__animated animate__bounceInDown">
                        <button mat-button type="submit" class="update-btn">Upload Paint</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div>
    <p><br></p>
    <p><br></p>
</div>