img{
    max-width:180px;
}
.container{
    background: #f0f0f0;
}
input[type=file]{
    padding:10px;
    background:#2d2d2d;
}
input[type=file] {
    padding: 10px;
    background: #ffffff;
    border: 1pt solid;
    width: 100%;
}
.full-w{
    width: 100%;
}
.painting-upload{
    background: #000000;
}
.painting-upload h3{
    color: #ffffff;
}
input[type=text] {
    width: 100%;
    height: 50px;
}
textarea#ptheme {
    width: 100%;
}
.cancel-btn{
    color: #ffffff;
    background: #000000;
    font-size: 20px;
    padding: 7px 4px;
}
.update-btn{
    color: #ffffff;
    background: #000000;
    font-size: 20px;
    padding: 7px 4px;
}
.update-btn:hover,.cancel-btn:hover{
    background: lightgray;
}
.image-preview-container.ng-star-inserted {
    padding-top: 7px;
    text-align: center;
}