
html, body {
    height: 100%;
  }
  p.text-muted a {
      text-decoration: none;
      background: #000000;
      color: #ffffff;
      padding: 8px 12px;
      border-radius: 10px;
  }
  p.text-muted a:hover{
    background-color: lightgray;
  }
  .container{
    background: #ffffff !important;
    }
    p.track {
      margin-left: 24px;
  }
  
  h1.no-found {
    text-align: center;
    padding: 10px;
  }