.a{
    background-color: red;
    height: 1200px;
}
#q{
    color: aliceblue;
    margin: 10px;
    text-align: center;
}
#w{
    color: aqua;
    margin: 10px;
    text-align: center;
}
#e{
    color: beige;
    margin: 10px;
    text-align: center;
}
#r{
    color: black;
    margin: 10px;
    text-align: center;
}

