
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    min-height: 100vh;
    width: 100%;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 100%;
  background: #f0f0f0;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.container .form{
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.login{
  background:#f0f0f0 ;}
.form h4{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}
.login-heading {
  font-size: 29px !important;
}
.arrow-icon{
  margin-left: 10px;
  margin-top: 2px;
}
button.login-btn {
  width: 100%;
  height: 38px;
  color: #ffffff;
  background: #000000;
  font-size: 18px;
  margin-bottom: 4px !important;
}
.form input{
    //  height: 40px;
    //  width: 100%;
    //  padding: 0 15px;
     font-size: 17px;
    //  margin-bottom: 1.3rem;
    //  border: 1px solid #ddd;
    //  border-radius: 6px;
    //  outline: none;
}
.mat-icon{
  height: auto;
  width: auto;
  overflow: visible;
}
.form input:focus{
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.form a{
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}

.forgot-password svg {
  font-size: 22px;
}
.login-btn:hover{
    background: lightgrey;
    color: #000000;
}
a.forgt-pswrd{
  display: flex;
  justify-content: end;
  font-size: 20px !important; 
  align-items: center;
}
.have-account span,.have-account span a {
  font-size: 20px;
}
.have-account{
  text-align: center;
}
.social-account span {
  font-size: 20px;
}
.social-account {
  text-align: center;
}
.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
span.google-icon img {
  height: 33px;
}
span.facebook-icon img {
  height: 25px !important;
  // margin-top: 5px;
}
span.facebook-icon , span.google-icon{
  box-shadow: 0 0 5px #e7e7e7;
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px; 
  background: #ffffff;
}
span.facebook-icon{
  padding: 15px;
}
.have-account a {
  font-weight: 700;
}
.full-w{
  width: 100% !important;
}
.mat-mdc-option.mdc-list-item {
  align-items: center;
  padding-left: 17px;
  padding-right: 13px;
}
.mat-mdc-text-field-wrapper {
  height: 50px;
}
@media screen and (max-width:1300px){

}