
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    min-height: 100vh;
    width: 100%;
}
// img{
//   width: 100%;
//   height: 100%;
// }
.login-image{
  background-image: url(../../../../assets/images/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  // max-width: 430px;
  // background: #f0f0f0;
  border-radius: 7px;
  // box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  margin: 2% auto;
}
.container .form{
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.form h4{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}
.login-heading {
  font-size: 29px !important;
}
.arrow-icon{
  margin-left: 10px;
  margin-top: 2px;
}
button.login-btn {
  width: 289px;
  height: 45px;
  background: red;
  border-radius: 44px;
  font-size: 16px;
  color: #fff;
  border: none;
}
.form input{
    //  height: 40px;
    //  width: 100%;
    //  padding: 0 15px;
     font-size: 17px;
    //  margin-bottom: 1.3rem;
    //  border: 1px solid #ddd;
    //  border-radius: 6px;
    //  outline: none;
}
.mat-icon{
  height: auto;
  width: auto;
  overflow: visible;
}
.form input:focus{
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.form a{
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}

.forgot-password svg {
  font-size: 22px;
}
.login-btn:hover{
    background: #fff;
    color: red;
    border: 1px solid red;
}
a.forgt-pswrd{
  display: flex;
  justify-content: end;
  font-size: 20px !important; 
  align-items: center;
}
.have-account span,.have-account span a {
  font-size: 20px;
}
.have-account{
  text-align: center;
}
.social-account span {
  font-size: 20px;
}
.social-account {
  text-align: center;
}
.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
span.google-icon img {
  height: 33px;
}
span.facebook-icon img {
  height: 25px !important;
  // margin-top: 5px;
}
.google-icon ,.facebook-icon{
  display: flex;
  gap: 18px;
  border: 1px solid #e2e2e2;
  padding: 5px;
  border-radius: 8px;
}

.login{
  border: 1px solid #e2e2e2;
  box-shadow: none;
}
p.icon-text {
  font-size: 14px;
}
// span.facebook-icon , span.google-icon{
//   box-shadow: 0 0 5px #e7e7e7;
//   margin-top: 20px;
//   padding: 10px;
//   border-radius: 20px; 
//   background: #ffffff;
// }

.have-account a {
  font-weight: 700;
}
.full-w{
  width: 100% !important;
}
.mat-mdc-option.mdc-list-item {
  align-items: center;
  padding-left: 17px;
  padding-right: 13px;
}
.mat-mdc-text-field-wrapper {
  height: 50px;
}
.icon-text{
  margin: 0;
}
.text{
  display: flex;
  align-items: center;
}
span.border {
  border: 1px solid #e2e2e2;
  width: 99px;
  height: 1px;
}
.using-email.d-flex.justify-content-center {
  align-items: center;
  gap: 21px;
  margin: 23px 0;
}
@media screen and (max-width:991px){
  .login-image{
    display: none;
  }
}
@media screen and (max-width:767px){
  p.icon-text {
    font-size: 11px;
}
span.border{
  width: 50px;
}
form{
  padding: 0 10px !important;
}
}
@media screen and (max-width:425px){
  span.email-text {
    font-size: 11px;
}
p.icon-text {
  font-size: 8px;
}
.have-account span, .have-account span a{
  font-size: 13px;
}
span.border{
  width: 20px;
}
p.text-center {
  font-size: 18px;
}
.google-icon, .facebook-icon{
  gap: 5px;
}
}
@media screen and (max-width: 360){
  form{
    padding: 0 !important;
  }
}