<div class="container">
    <mat-card class="login form">
        <mat-card-title>
            Login
        </mat-card-title>
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
            <mat-form-field class="full-w">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email_or_mobile_number" placeholder="Email">
                <mat-error *ngIf="loginForm.controls['email_or_mobile_number'].hasError('required')">
                    Email is required.
                </mat-error>
                <mat-error *ngIf="loginForm.controls['email_or_mobile_number'].hasError('pattern')">
                    Email format is not valid.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-w">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" placeholder="Password">
                <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                    Password is required.
                </mat-error>
                <mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">
                    Password must be at least 6 characters long.
                </mat-error>
            </mat-form-field>
            <div class="forgot-password">
                <a [routerLink]="['/auth/forgot']" class="forgt-pswrd">Forgot Your Password ?
                    <mat-icon svgIcon="password_reset"></mat-icon>
                </a>
            </div>
            <button type="submit" mat-raised-button color="primary">Login</button>
        </form>
        <div class="have-account">
            <span> Don't have an account ? <a (click)="goToSignUp()">Sign Up</a></span>
        </div>
        <div class="social-account">
            <span>
                Or login with social account
            </span>
            <div class="social-icons">
                <span class="facebook-icon">
                    <mat-icon svgIcon="facebook"></mat-icon>
                </span>
                <span class="google-icon">
                    <mat-icon svgIcon="google"></mat-icon>
                </span>
            </div>
        </div>
    </mat-card>
</div>