<div class="container">
    <div class="delivery-address p-3">
        <h5>Order summary</h5>
    </div>
    <div class="img-description mt-2 p-4">
        <div class="row justify-content-between">
           <div class="col-md-2 col-sm-12 ">
              <div class="product-img  pt-5">
                 <img src="./assets/images/bird.jpg">
                 <div class="incr-dcr-btns mt-3">
                    <button class="dec-btn">-</button>
                    <input type="text" value="1">
                    <button class="inc-btn">+</button>
                 </div>
              </div>
           </div>
           <div class="detail-container col-md-6 col-sm-12">
              <p class="product-hdng">
                 NovexArt Beautiful Eye Modern Art Canvas Painting for Living Room/Drawing Room (24in x 48in / 61cm x 122cm) (Canvas Roll)
              </p>
              <p class="brand">Brand:Novex Art</p>
              <p class="brand">Seller : SVPeripherals</p>
              <p class="cut-rate"> <s class="brand">₹1,28,990</s>&nbsp;&nbsp;&nbsp; <b class="rate">₹81,990</b></p>
              <div class="buttons  mt-3">
                 <div class="remove col-md-3 col-sm-6">
                    <a href="javsscriptvoid()">REMOVE</a>
                 </div>
              </div>
           </div>
           <div class="col-md-4 col-sm-12">
              <p class="dlvr-txt">Delivery by Thu Sep 7 | ₹40</p>
           </div>
          
        </div>
     </div>