<div class="wrapper container mt-3 ">
    <main>
        <h1>Paintikaart Privacy Policy</h1>
    </main>

    <section>
        <h2>Introduction</h2>
        <p>Welcome to Paintikaart. This Privacy Policy describes how we collect, use, and disclose your personal information when you use our website.</p>
    </section>

    <section>
        <h2>Information We Collect</h2>
        <p>When you use Paintikaart, we may collect the following types of information:</p>
        <ul>
            <li>Information provided by you when creating an account, such as your name, email address, and password.</li>
            <li>Information provided by artists when uploading paintings, such as images and descriptions.</li>
            <li>Information collected automatically through the use of cookies and similar technologies, such as your IP address, browser type, and device information.</li>
        </ul>
    </section>

    <section>
        <h2>How We Use Your Information</h2>
        <p>We may use the information we collect for the following purposes:</p>
        <ul>
            <li>To provide and maintain our services.</li>
            <li>To personalize your experience and improve our website.</li>
            <li>To communicate with you, including sending promotional emails.</li>
            <li>To detect, prevent, and address technical issues.</li>
        </ul>
    </section>

    <section>
        <h2>Information Sharing and Disclosure</h2>
        <p>We may share your personal information in the following situations:</p>
        <ul>
            <li>With artists, to facilitate the purchase of paintings.</li>
            <li>With service providers who assist us in operating our website.</li>
            <li>With law enforcement or government authorities if required by law.</li>
        </ul>
    </section>

    <section>
        <h2>Security</h2>
        <p>We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure.</p>
    </section>

    <section>
        <h2>Changes to This Privacy Policy</h2>
        <p>We may update our Privacy Policy from time to time. Any changes will be reflected on this page.</p>
    </section>

    <section>
        <p>If you have any questions or concerns about our Privacy Policy, please contact us at privacy@paintikaart.com.</p>
    </section>
</div>