<div class="container-fluid">
  <div class="search-container justify-content-end">
    
    <form>
      <div class="search-field">
        <input type="search" matInput (keyup)="applyFilter($event)" placeholder="Search paintings or painter...">
        <button type="submit">Search</button>
      </div>
    </form>
  </div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide id="slide-1"><img src="./assets/images/bird.jpg" height="200"></ng-template>  
    <ng-template carouselSlide id="slide-2"><img src="./assets/images/first.jpg" height="200"></ng-template>  
    <ng-template carouselSlide id="slide-3"><img src="./assets/images/river.jpg" height="200"></ng-template>  
    <ng-template carouselSlide id="slide-4"><img src="./assets/images/nature.jpg" height="200"></ng-template>  
    <ng-template carouselSlide id="slide-5"><img src="./assets/images/vehicle.jpg" height="200"></ng-template>  
    <ng-template carouselSlide id="slide-6"><img src="./assets/images/animal.jpg" height="200"></ng-template>  
    <ng-template carouselSlide id="slide-7"><img src="./assets/images/eye.jpg" height="200"></ng-template>  
    <ng-template carouselSlide id="slide-8"><img src="./assets/images/cat.jpg" height="200"></ng-template>  
    <ng-template carouselSlide id="slide-9"><img src="./assets/images/krishna.jpg" height="200"></ng-template>
    <ng-template carouselSlide id="slide-9"><img src="./assets/images/girl.jpg" height="200"></ng-template>  
  </owl-carousel-o>
  <div class="main-items-container animate__animated animate__fadeInLeft">
    <div class="row m-4 mb-5 main-paintings">
      <ng-container *ngIf="data && data.length">
        <div *ngFor="let product of data" class="paintings col-md-3 col-sm-6 p-4 m-2">
          <div class="hdng-button ">
            <h3 class="text-cap">{{product.name}}</h3>
          </div>
          <img [src]="product.image">
          <a (click)="getMore(product)">See More</a>
        </div>
       
      </ng-container>
      <ng-container *ngIf="data && data.length == 0">
        <div class="paintings col-md-3 col-sm-6 p-4 ">
          No Record Found!
        </div>
      </ng-container>
    </div>
  </div>
  <mat-paginator #paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page" (page)="getData($event)" showFirstLastButtons>
</mat-paginator>

</div>
<div>
  <p><br></p>
  <p><br></p>
</div>