<div class="home-page flex-body mb-34">
  <div class="flex-content">
    <div class="flex-inner-content container">
      <div class="home-carousel mt-5">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide id="slide-1"><img src="./assets/images/cat.jpg" height="200"></ng-template>
          <ng-template carouselSlide id="slide-2"><img src="./assets/images/first.jpg" height="200"></ng-template>
          <ng-template carouselSlide id="slide-3"><img src="./assets/images/river.jpg" height="200"></ng-template>
          <ng-template carouselSlide id="slide-4"><img src="./assets/images/nature.jpg" height="200"></ng-template>
          <ng-template carouselSlide id="slide-5"><img src="./assets/images/vehicle.jpg" height="200"></ng-template>
          <ng-template carouselSlide id="slide-6"><img src="./assets/images/animal.jpg" height="200"></ng-template>
          <ng-template carouselSlide id="slide-7"><img src="./assets/images/eye.jpg" height="200"></ng-template>
          <ng-template carouselSlide id="slide-8"><img src="./assets/images/bird.jpg" height="200"></ng-template>
          <ng-template carouselSlide id="slide-9"><img src="./assets/images/girl.jpg" height="200"></ng-template>
        </owl-carousel-o>
      </div>
      <div class="category mt-60">
        <div class="home-catgry">
          <h2 class="catgry-sub-titl">Explore by Category</h2>
          <ul class="category-grid pl-0 mt-34 lp-catg-load row justify-content-between">
            <li class="category-list col-lg-3 col-md-4 col-sm-6 m-2">
              <a href="javascript:void(0)" class="catgry-list catgryList">
                <div class="card-img catgry-img">
                  <img src="https://arts.mojarto.com/siteImages/category/99539/web/78/99539.jpg"
                    alt="Category Sculpture" title="Sculpture">
                </div>
                <div class="catgry-titl ml-24">
                  <h3>Sculpture</h3>
                  <span class="fs-13 cate-sub-tlt fw-500">426 Sculptures</span>
                </div>
              </a>
            </li>
            <li class="category-list col-lg-3 col-md-4 col-sm-6  m-2">
              <a href="javascript:void(0)" class="catgry-list catgryList">
                <div class="card-img catgry-img">
                  <img src="https://arts.mojarto.com/siteImages/category/99545/web/78/99545.jpg"
                    alt="Category Serigraph" title="Serigraph">
                </div>
                <div class="catgry-titl ml-24">
                  <h3>Paintings</h3>
                  <span class="fs-13 cate-sub-tlt fw-500">354 Paintings</span>
                </div>
              </a>
            </li>
            <li class="category-list col-lg-3 col-md-4 col-sm-6  m-2">
              <a href="javascript:void(0)" class="catgry-list catgryList">
                <div class="card-img catgry-img">
                  <img src="https://arts.mojarto.com/siteImages/category/99543/web/78/99543.jpg" alt="Category Drawing"
                    title="Drawing">
                </div>
                <div class="catgry-titl ml-24">
                  <h3>Photography</h3>
                  <span class="fs-13 cate-sub-tlt fw-500">655 Photography</span>
                </div>
              </a>
            </li>
            <li class="category-list col-lg-3 col-md-4 col-sm-6  m-2">
              <a href="javascript:void(0)" class=" catgry-list catgryList">
                <div class="card-img catgry-img">
                  <img src="https://arts.mojarto.com/siteImages/category/99538/web/78/99538.jpg" alt="Category Painting"
                    title="Painting">
                </div>
                <div class="catgry-titl ml-24">
                  <h3>Graffiti</h3>
                  <span class="fs-13 cate-sub-tlt fw-500">12904 Graffiti</span>
                </div>
              </a>
            </li>
            <li class="category-list col-lg-3 col-md-4 col-sm-6  m-2">
              <a href="javascript:void(0)" class=" catgry-list catgryList">
                <div class="card-img catgry-img">
                  <img src="https://arts.mojarto.com/siteImages/category/99542/web/78/99542.jpg"
                    alt="Category Printmaking" title="Printmaking">
                </div>
                <div class="catgry-titl ml-24">
                  <h3>Printmaking</h3>
                  <span class="fs-13 cate-sub-tlt fw-500">397 Prints</span>
                </div>
              </a>
            </li>
            <li class="category-list col-lg-3 col-md-4 col-sm-6  m-2">
              <a href="javascript:void(0)" class=" catgry-list catgryList">
                <div class="card-img catgry-img">
                  <img src="https://arts.mojarto.com/siteImages/category/99540/web/78/99540.jpg"
                    alt="Category Photography" title="Photography">
                </div>
                <div class="catgry-titl ml-24">
                  <h3>Photography</h3>
                  <span class="fs-13 cate-sub-tlt fw-500">733 Photographs</span>
                </div>
              </a>
            </li>
            <li class="category-list col-lg-3 col-md-4 col-sm-6  m-2">
              <a href="javascript:void(0)" class=" catgry-list catgryList">
                <div class="card-img catgry-img">
                  <img src="https://arts.mojarto.com/siteImages/category/99541/web/78/99541.jpg"
                    alt="Category Digital art" title="Digital art">
                </div>
                <div class="catgry-titl ml-24">
                  <h3>Digital art</h3>
                  <span class="fs-13 cate-sub-tlt fw-500">397 Digital arts</span>
                </div>
              </a>
            </li>
      
          </ul>
        </div>
      </div>
      <div class="home-curated-collection mt-60">
        <div class="colctn-tit d-flex justify-content-between">
          <h2 class="mb-34">Curated Collections 
          </h2>
          <a href="javascript:void(0)">View All</a>
        </div>
        <div class="home-carousel mt-5">
          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide id="slide-1"><img src="./assets/images/cat.jpg" height="200"></ng-template>
            <ng-template carouselSlide id="slide-2"><img src="./assets/images/first.jpg" height="200"></ng-template>
            <ng-template carouselSlide id="slide-3"><img src="./assets/images/river.jpg" height="200"></ng-template>
            <ng-template carouselSlide id="slide-4"><img src="./assets/images/nature.jpg" height="200"></ng-template>
            <ng-template carouselSlide id="slide-5"><img src="./assets/images/vehicle.jpg" height="200"></ng-template>
            <ng-template carouselSlide id="slide-6"><img src="./assets/images/animal.jpg" height="200"></ng-template>
            <ng-template carouselSlide id="slide-7"><img src="./assets/images/eye.jpg" height="200"></ng-template>
            <ng-template carouselSlide id="slide-8"><img src="./assets/images/bird.jpg" height="200"></ng-template>
            <ng-template carouselSlide id="slide-9"><img src="./assets/images/girl.jpg" height="200"></ng-template>
          </owl-carousel-o>
        </div>
      </div>
      <div class="home-art-price mt-60">
        <div class="artprice">
          <h2 class="artprice-title mb-34">Art By Price</h2>
          <ul class="content mt-20">
            <li class="art-price-list-item">
              <a href="javascript:void(0)">
                <span class="fw-500">Under  ₹ 10,000</span>
              </a> 
            </li>
            <li class="art-price-list-item">
              <a href="javascript:void(0)">
                <span class="fw-500">₹ 10,000 - ₹ 50,000</span>
              </a> 
            </li>
            <li class="art-price-list-item">
              <a href="javascript:void(0)">
                <span class="fw-500">₹ 50,000 - ₹ 1,00,000</span>
              </a> 
            </li>
            <li class="art-price-list-item">
              <a href="javascript:void(0)">
                <span class="fw-500">₹ 1,00,000 - ₹ 3,00,000</span>
              </a> 
            </li>
            <li class="art-price-list-item">
              <a href="javascript:void(0)">
                <span class="fw-500">₹ 3,00,000 - ₹ 5,00,000</span>
              </a>
            </li>
            <li class="art-price-list-item">
              <a href="javascript:void(0)">
                <span class="fw-500">₹ 5,00,000 - Above</span>
              </a> 
            </li>
          </ul>
        </div>
      </div>
      <div class="home-need-to-see mt-60 landing-need-to-see">
        <div class="d-flex art-displ-titl justify-content-between">
          <h2 class="fw-500 art-sub-titl mb-34">Everything you need to see</h2>
          <a href="javascript:void(0)">View All</a>
        </div>
        <div class="tab-content mt-20">
          <div class="tab-control">
            <div class="tabs">
              <button type="button" class="tab selected">
                <span slot="title">New Arrivals</span>
              </button>  
              <button type="button" class="tab">
                <span slot="title">Mojarto Picks</span>
              </button>  
              <button type="button" class="tab">
                <span slot="title">Choose by Color</span>
              </button>  
              <button type="button" class="tab">
                <span slot="title">Explore by Medium</span>
              </button> 
              <button type="button" class="tab">
                <span slot="title">Prints for You</span>
              </button> 
            </div>
            <div class="tab-content">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p><br></p>
<p><br></p>
<!-- <div class="container-fluid">
  <div class="search-container justify-content-end">

    <form>
      <div class="search-field">
        <input type="text" matInput (keyup)="applyFilter($event)" placeholder="Search paintings or painter...">
        <button type="submit">Search</button>
      </div>
    </form>
  </div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide id="slide-1"><img src="./assets/images/cat.jpg" height="200"></ng-template>
    <ng-template carouselSlide id="slide-2"><img src="./assets/images/first.jpg" height="200"></ng-template>
    <ng-template carouselSlide id="slide-3"><img src="./assets/images/river.jpg" height="200"></ng-template>
    <ng-template carouselSlide id="slide-4"><img src="./assets/images/nature.jpg" height="200"></ng-template>
    <ng-template carouselSlide id="slide-5"><img src="./assets/images/vehicle.jpg" height="200"></ng-template>
    <ng-template carouselSlide id="slide-6"><img src="./assets/images/animal.jpg" height="200"></ng-template>
    <ng-template carouselSlide id="slide-7"><img src="./assets/images/eye.jpg" height="200"></ng-template>
    <ng-template carouselSlide id="slide-8"><img src="./assets/images/bird.jpg" height="200"></ng-template>
    <ng-template carouselSlide id="slide-9"><img src="./assets/images/girl.jpg" height="200"></ng-template>
  </owl-carousel-o>



  <div class="filter-container container-fluid">
    <h2>Art By Price</h2>
    <div class="price-filter">
      <ul>
        <li [ngClass]="{ 'selected': selectedRange === '100-' }">
          <a href="javascript:void(0)" (click)="filterByPrice('100', '')">
            <span [ngClass]="{ 'selectedText': selectedRange === '100-' }">Under ₹100</span>
          </a>
        </li>
        <li [ngClass]="{ 'selected': selectedRange === '100-500' }">
          <a href="javascript:void(0)" (click)="filterByPrice('100', '500')">
            <span [ngClass]="{ 'selectedText': selectedRange === '100-500' }">₹100 - ₹500</span>
          </a>
        </li>
        <li [ngClass]="{ 'selected': selectedRange === '500-1000' }">
          <a href="javascript:void(0)" (click)="filterByPrice('500', '1000')">
            <span [ngClass]="{ 'selectedText': selectedRange === '500-1000' }">₹500 - ₹1,000</span>
          </a>
        </li>
        <li [ngClass]="{ 'selected': selectedRange === '1000-1500' }">
          <a href="javascript:void(0)" (click)="filterByPrice('1000', '1500')">
            <span [ngClass]="{ 'selectedText': selectedRange === '1000-1500' }">₹1,000 - ₹1500</span>
          </a>
        </li>
        <li [ngClass]="{ 'selected': selectedRange === '1500-2000' }">
          <a href="javascript:void(0)" (click)="filterByPrice('1500', '2000')">
            <span [ngClass]="{ 'selectedText': selectedRange === '1500-2000' }">₹1500 - ₹2,000</span>
          </a>
        </li>
        <li [ngClass]="{ 'selected': selectedRange === '2000-2500' }">
          <a href="javascript:void(0)" (click)="filterByPrice('2000', '2500')">
            <span [ngClass]="{ 'selectedText': selectedRange === '2000-2500' }">₹2,000 - ₹2,500</span>
          </a>
        </li>
        <li [ngClass]="{ 'selected': selectedRange === '3000-3500' }">
          <a href="javascript:void(0)" (click)="filterByPrice('3000', '3500')">
            <span [ngClass]="{ 'selectedText': selectedRange === '3000-3500' }">₹3000 - ₹3500</span>
          </a>
        </li>
      </ul>
    </div>

    <h2>WHAT ARE YOU LOOKING FOR ?</h2>
    <div class="looking-for">
       <ul>
        <li>
          <a href="javascript:void(0)">
            <span>Fruits</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <span>Birds</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <span>Flowers</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <span>Buildings</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <span>Village</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <span>People</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <span>Seaspace</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <span>Botanical</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <span>Music</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            <span>Figurative</span>
          </a>
        </li>
       
       </ul>
    </div>
  </div>



    <div class="main-items-container animate__animated animate__fadeInLeft ">
      <h1 class="text-center pt-4">Painting Categories</h1>
      <div class="row m-4 mb-5 main-paintings">
        <ng-container *ngIf="data && data.length">
          <div *ngFor="let product of data" class="paintings col-md-3 col-sm-6 p-4 m-2">
            <div class="hdng-button ">
              <h3 class="text-cap">{{product.name}}</h3>
            </div>
            <img [src]="product.image">
            <a (click)="getMore(product)" class="see-more">See More</a>
          </div>
        </ng-container>
        <ng-container *ngIf="data && data.length == 0">
          <div class="no-record text-center">
            No Record Found!
          </div>
        </ng-container>
      </div>
    </div>
  <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page" (page)="getData($event)" showFirstLastButtons>
  </mat-paginator>

</div>
<div>
  <p><br></p>
  <p><br></p>
</div> -->