<div class="container">
    <div class="login form">
        <div class="back-to-login">
            <mat-icon svgIcon="password_reset" class="arrow-icon">
                <a [routerLink]="['/auth/login']" clas="back-login">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
                        <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/>
                    </svg>    
                </a>
            </mat-icon>
            
        </div>
        <h4>
           Sign Up
        </h4>
        <div class="toggle-switch">
            <div class="painter-heading">
                <span class="hdng">Are You Painter?</span>
            </div>
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
        </div>
        <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
            <mat-form-field class="example-full-width full-w">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="enter name" value="">
                <mat-error *ngIf="signUpForm.controls['email_or_mobile_number'].hasError('required')">
                    Name is required.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-w">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email_or_mobile_number" placeholder="Email">
                <mat-error *ngIf="signUpForm.controls['email_or_mobile_number'].hasError('required')">
                    Email is required.
                </mat-error>
                <mat-error *ngIf="signUpForm.controls['email_or_mobile_number'].hasError('pattern')">
                    Email format is not valid.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-w">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" placeholder="Password">
                <mat-error *ngIf="signUpForm.controls['password'].hasError('required')">
                    Password is required.
                </mat-error>
                <mat-error *ngIf="signUpForm.controls['password'].hasError('minlength')">
                    Password must be at least 6 characters long.
                </mat-error>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" class="sign-up-btn mt-2 mb-3">Login</button>
        </form>
        <!-- <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm">
            <input formControlName="name" type="text" placeholder="Name">
            <div *ngIf="signUpForm.controls['name'].invalid && (signUpForm.controls['name'].dirty || signUpForm.controls['name'].touched)"
                class="alert alert-danger" required>
                <div *ngIf="signUpForm.controls['name'].errors?.required">
                    Name is required.
                </div>
            </div>
            <input type="email" formControlName="email_or_mobile_number"  placeholder="Enter Email/Phone Number">
            <div *ngIf="signUpForm.controls['email_or_mobile_number'].invalid && (signUpForm.controls['email_or_mobile_number'].dirty || signUpForm.controls['email_or_mobile_number'].touched)"
                class="alert alert-danger" required>
                <div *ngIf="signUpForm.controls['email_or_mobile_number'].errors?.required">
                    Email is required.
                </div>
                <div *ngIf="signUpForm.controls['email_or_mobile_number'].errors?.pattern">
                    Email format is not valid
                </div>
            </div>
            <input type="password" formControlName="password" placeholder="Password">
            <div *ngIf="signUpForm.controls['password'].invalid && (signUpForm.controls['password'].dirty || signUpForm.controls['password'].touched)"
                class="alert alert-danger">
                <div *ngIf="signUpForm.controls['password'].errors?.required">
                    Password is required.
                </div>
                <div *ngIf="signUpForm.controls['password'].errors?.minlength">
                    Password must be at least 6 characters long.
               </div> 
            </div>
            <button type="submit" class="button">Signup</button>
        </form> -->
        <div class="social-account">
            <span>
                Or sign up with social account
            </span>
            <div class="social-icons">
                    <span class="facebook-icon">
                        <mat-icon svgIcon="facebook">
                            <img src="./assets/images/facebook-icon.png">
                        </mat-icon>
                    </span>
                    <span class="google-icon">
                        <mat-icon svgIcon="google">
                            <img src="./assets/images/google-icon.png">
                        </mat-icon>
                    </span>
            </div>
        </div>
    </div>
</div>
