<div class="container d-flex">
    <div class="signup-image w-30">
    </div>
    <div class="login form w-70">
        <div class="back-to-login px-5">
            <mat-icon svgIcon="password_reset" class="arrow-icon">
                <a [routerLink]="['/auth/login']" clas="back-login">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512">
                        <path
                            d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" fill="red"/>
                    </svg>
                </a>
            </mat-icon>
        </div>
        <h4 class="">
            Sign Up With Paintika
        </h4>
        <form (ngSubmit)="onSubmit()" [formGroup]="signUpForm" class="px-5">
            <div class="toggle-switch">
                <div class="painter-heading Big">
                    <span class="hdng">Are You Painter?</span>
                </div>
                <label class="switch ">
                    <input type="checkbox" formControlName="userType" checked>
                    <span class="slider round"></span>
                </label>
            </div>
            <mat-form-field class="example-full-width full-w Big">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="enter name" value="">
                <mat-error *ngIf="signUpForm.controls['name'].hasError('required')">
                    Name is required.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-w ">
                <mat-label>Email or Mobile Number</mat-label>
                <input matInput formControlName="email_or_mobile_number" placeholder="Email or Mobile number">
                <mat-error *ngIf="signUpForm.controls['email_or_mobile_number'].hasError('required')">
                    Email Or Mobile Number is required.
                </mat-error>
                <mat-error *ngIf="signUpForm.controls['email_or_mobile_number'].hasError('pattern')">
                    Email/Phone format is not valid.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-w ">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" placeholder="Password">
                <mat-error *ngIf="signUpForm.controls['password'].hasError('required')">
                    Password is required.
                </mat-error>
                <mat-error *ngIf="signUpForm.controls['password'].hasError('minlength')">
                    Password must be at least 6 characters long.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100" *ngIf="signUpForm.value.userType == true">
                <mat-label>Select State</mat-label>
                <mat-select (selectionChange)="changeState($event)" formControlName="state" matNativeControl required>
                    <mat-option selected disabled value="">Select State</mat-option>
                    <mat-option *ngFor="let state of stateList" [value]="state">{{state}}</mat-option>
                  </mat-select>
                <mat-error *ngIf="signUpForm.controls['state'].hasError('required')">
                    Field is required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100" *ngIf="signUpForm.value.userType == true">
                <mat-label>Select City</mat-label>              
                <mat-select formControlName="city" matNativeControl required>
                    <mat-option selected disabled value="">Select City</mat-option>
                    <mat-option *ngFor="let city of cityList" [value]="city">{{city}}</mat-option>
                  </mat-select>
                <mat-error *ngIf="signUpForm.controls['city'].hasError('required')">
                    Field is required
                </mat-error>
            </mat-form-field>
            <div class="btn-main d-flex justify-content-center">
                <button type="submit" mat-raised-button color="primary" class="sign-up-btn mt-2 mb-3 ">Sign Up</button>
            </div>
        </form>
    </div>
</div>
