<div class="wrapper">
    <div class="container">
       <div class="row mt-4">
          <div class="col-md-8 col-sm-12 mt-2">
             <div class="painting-hdng col-md-12 col-sm-12 text-center p-3">
                <h6>Paintings</h6>
             </div>
             <div class="from-address col-md-12 col-sm-12  mt-2">
                <div class="row justify-content-between p-3">
                   <div class="address-txt col-md-6 col-sm-12">
                      <p class="address">From Saved Addresses </p>
                   </div>
                   <div class="delivery-pin-code col-md-6 col-sm-12">
                      <a href=javscriptvoid()>
                      Enter Delivery Pincode
                      </a>
                   </div>
                </div>
             </div>
             <div class="img-description mt-2 p-4">
                <div class="row justify-content-between">
                   <div class="col-md-2 col-sm-12 ">
                      <div class="product-img  pt-5">
                         <img src="./assets/images/bird.jpg">
                         <div class="incr-dcr-btns mt-3">
                            <button class="dec-btn">-</button>
                            <input type="text" value="1">
                            <button class="inc-btn">+</button>
                         </div>
                      </div>
                   </div>
                   <div class="detail-container col-md-6 col-sm-12">
                      <p class="product-hdng">
                         NovexArt Beautiful Eye Modern Art Canvas Painting for Living Room/Drawing Room (24in x 48in / 61cm x 122cm) (Canvas Roll)
                      </p>
                      <p class="brand">Brand:Novex Art</p>
                      <p class="brand">Seller : SVPeripherals</p>
                      <p class="cut-rate"> <s class="brand">₹1,28,990</s>&nbsp;&nbsp;&nbsp; <b class="rate">₹81,990</b></p>
                      <div class="buttons row mt-3">
                         <div class="save-later col-md-6 col-sm-6">
                            <a href="javascriptvoid()">SAVE FOR LATER</a>
                         </div>
                         <div class="remove col-md-3 col-sm-6">
                            <a href="javsscriptvoid()">REMOVE</a>
                         </div>
                      </div>
                   </div>
                   <div class="col-md-4 col-sm-12">
                      <p class="dlvr-txt">Delivery by Thu Sep 7 | ₹40</p>
                   </div>
                  
                </div>
             </div>
             <div class="place-order col-md-12 col-sm-12 text-end ">
                <a (click)="getTopayment()">PLACE ORDER</a>
             </div>
          </div>
          <div class="col-md-4 col-sm-12 mt-2">
            <div class="price-section pt-2 p-4">
                <h5 class="prc-dtl  ">Price Detail</h5>
                <div class="price-itm p-3">
                    <p>Price (1 item)</p>
                    <p>₹1,28,990</p>
                </div>
                <div class="delivery-chrgs p-3">
                    <p>Delivery Charges</p>
                    <p> &#8377; 40</p>
                </div>
                <div class="total-amt p-3">
                    <h5>Total Amount :</h5>
                    <h5>1,28,990</h5>
                </div>
          </div>
          <div class="safe-payment mt-5 p-3">
            <div class="shield-">
                <img src="./assets/images/shield.svg">
            </div>
           <div class="shield-txt">
            <p>Safe and Secure Payments.Easy returns.100% Authentic products.</p>
           </div>
          </div>
          </div>
          
       </div>
    </div>
 </div>