<div class="wrapper">
   <div class="container mb-5">
      <div class="row mt-4">
         <div class="col-md-8 col-sm-12 mt-2">
            <div class="painting-hdng col-md-12 col-sm-12 text-center p-3">
               <h6>Paintings</h6>
            </div>
            <div class="from-address col-md-12 col-sm-12  mt-2">
               <div class="row justify-content-between p-3">
                  <div class="address-txt col-md-6 col-sm-12">
                     <p class="address">From Saved Addresses </p>
                  </div>
                  <div class="delivery-pin-code col-md-6 col-sm-12">
                     <a [routerLink]="['/page/delivery-address/addAddress']">
                        Add New Address
                     </a>
                  </div>
               </div>
               <div class="row justify-content-between p-3" *ngFor="let address of addressList">
                  <div class="address-txt row col-md-6 col-sm-12">
                     <div class="radio-main col-md-2">
                        <span>
                           <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedRadioValue">
                              <mat-radio-button [value]="address._id"></mat-radio-button>
                            </mat-radio-group>
                        </span>
                     </div>
                    <div class="address-main col-md-6">
                        <p class="address ">
                           <span>{{address.name}}</span>
                        </p>
                        <!-- <p class="address">{{address.address}} </p> -->
                    </div>
                     
                  </div>
                  <div class="col-md-6 text-end">
                     <a (click)="editAddress(address)" style="margin-right: 10px;" data-toggle="tooltip" title="Edit Address" class="edit">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 512 512">
                           <path d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z"/>
                        </svg>
                     </a>
                     <a (click)="deleteAddress(address)" title="Delete Address"  class="delete">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                           <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"fill="#000000" />
                           <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" fill="#000000" />
                         </svg>
                     </a>
                     <!-- <button mat-button class="edit" style="margin-right: 4px;">Edit</button>
                     <button mat-button class="delete" style="margin-right: 4px;">Delete</button> -->
                  </div>
               </div>
            </div>
            <div class="img-description mt-2 p-4" *ngIf="cartData && cartData?.carts?.length">
               <div class="row " *ngFor="let cart of cartData.carts">
                  <div class="col-md-4 col-sm-12 ">
                     <div class="product-img  ">
                        <img [src]="cart.image">
                        <div class="incr-dcr-btns mt-3">
                           <button class="dec-btn" type="button" (click)="decrement(cart)">-</button>
                           <input type="text" [(ngModel)]="cart.quantity" name="quantity" readonly/>
                           <button class="inc-btn" type="button" (click)="increment(cart)">+</button>
                         </div>
                     </div>
                  </div>
                  <div class="detail-container col-md-8 col-sm-12 ">
                     <p class="product-hdng">
                        NovexArt Beautiful Eye Modern Art Canvas Painting for Living Room/Drawing Room (24in x 48in /
                        61cm x 122cm) (Canvas Roll)
                     </p>
                     <!-- <p class="brand">Brand:Novex Art</p>
                     <p class="brand">Seller : SVPeripherals</p> -->
                     <p class="cut-rate mt-3"> 
                        <!-- <s class="brand">₹{{ cart.price * cart.quantity }}</s> -->
                        <b class="rate">₹{{ cart.price * cart.quantity }}</b>
                     </p>
                     <div class="buttons row mt-3">
                        <!-- <div class="save-later col-md-6 col-sm-6">
                           <a href="javascript:void(0);">SAVE FOR LATER</a>
                        </div> -->
                        <div class="remove col-md-3 col-sm-6">
                           <a (click)="removeFromCart(cart)">REMOVE</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-12 mt-4">
                     <p class="dlvr-txt"></p>
                  </div>
               </div>
            </div>
            <div class="img-description mt-2 p-4" *ngIf="cartData && !cartData?.carts?.length">
               <div class="cart">
                  <h3>Data Not Found!</h3>
               </div>
            </div>
            <div class="place-order col-md-12 col-sm-12 text-end ">
               <a (click)="getTopayment()" class="check-out">Check Out</a>
            </div>
         </div>
         <div class="col-md-4 col-sm-12 mt-2">
            <div class="price-section pt-2 p-4">
               <h5 class="prc-dtl  ">Price Detail</h5>
               <div class="price-itm p-3">
                  <p>Price (1 item)</p>
                  <p>₹{{cartData.order_total}}</p>
               </div>
               <div class="delivery-chrgs p-3">
                  <p>Delivery Charges</p>
                  <p>Free Delivery</p>
               </div>
               <div class="delivery-chrgs p-3">
                  <p>Tax</p>
                  <p>40</p>
               </div>
               <div class="total-amt p-3">
                  <h5>Total Amount :</h5>
                  <h5>{{cartData.order_total}}</h5>
               </div>
            </div>
            <div class="safe-payment mt-5 p-3">
               <div class="shield-">
                  <img src="./assets/images/shield.svg">
               </div>
               <div class="shield-txt">
                  <p>Safe and Secure Payments.Easy returns.100% Authentic products.</p>
               </div>
            </div>
         </div>

      </div>
   </div>
</div>
